.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.card-body {
  width: 100%;
  height: auto;
  border-radius: 8px;
  contain: auto;
}

.invest-card {
  height: auto;
  margin-bottom: 20px !important;
}
.iteration {
  height: auto;
  min-height: 45px;
  max-height: 245px;
  overflow-y: auto;
}

.item-container {
  min-height: 35px !important;
}

.list-card {
  height: auto !important;
  border-left: 3px solid #adabab
}
.list-card:hover {
  border-left: 3px solid #17aae0
}
.list-card-body {
  width: 100%;
}

    .client-modal .card-body {
      margin-bottom: 0rem !important;
    }
.list-card-1 {
  height: auto !important;
  font-size: .8em;
  border-left: 3px solid #adabab
}
.list-card-1:hover {
  border-left: 3px solid #17aae0
}
.list-card-body-1 {
  width: 100%;
      margin-bottom: 0rem !important;
}

.form-control {
    height: calc(.8em + .75rem + 2px);
}
.img-circle{
  width: 22px;
  height: 22px;
}
.text-dark span{
  color: #124472
}
.text-dark span:hover,.text-dark span:focus{
  color: #17aae0
}



//media queries
@media (min-width: 320px) {
  .card-body {
      padding-top: 4px;
      margin-bottom: 5px !important;
  }
  .jumbotron-fluid {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
  }
}

@media (min-width: 360px) {
}

@media (min-width: 375px) {
}

@media (min-width: 410px) {
.iteration {
  max-height: 320px;
}
}

@media (min-width: 445px) {
}

@media (min-width: 568px) {}

@media (min-width: 640px) {
  .container {
      margin-left: auto !important;
      margin-right: auto !important;
  }
.img-circle{
  width: 25px;
  height: 25px;
}
}

@media (min-width: 768px) {
  .container {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
  .jumbotron-fluid {
      padding-bottom: 1rem !important;
  }
.iteration {
  max-height: 600px;
}
.img-circle{
  width: 30px;
  height: 30px;
}
}

@media (min-width: 812px) {
  .jumbotron-fluid {
      padding-top: 0px !important;
      padding-bottom: 5px !important;
  }
}

@media (min-width: 1024px) {
  .jumbotron-fluid {
      padding-bottom: 2rem !important;
  }
.iteration {
  max-height: 1120px;
}
}

@media (min-width: 1100px) {
    .jumbotron-fluid {
      padding-bottom: .4rem !important;
  }
.iteration {
  max-height: 250px;
}

}

@media (min-width: 1280px) {
  .container {
      margin-left: auto !important;
      margin-right: auto !important;
  }
}

@media (min-width: 1320px) {}
