<div
  class="container-fluid d-flex flex-row justify-content-center mb-0 mt-md-1 pt-0 pt-md-1 pt-xl-0 pb-3 px-0 px-sm-2 shadow-lg col-12 col-lg-11"
>
  <div class="jumbotron-fluid mx-0 px-0 mb-0 pb-1 col-md-12 col-lg-11">
    <div class="container mt-2 mx-0 shadow-lg col-12">
      <div class="row">
        <div class="col-12">
          <h4
            class="rub-head4 text-info text-center font-weight-bold py-1"
          >
            Micro Loans
          </h4>
        </div>
      </div>
    </div>
    <div
      class="invest-card card-body mt-2 pt-3 pt-md-4 mb-5 mx-auto pb-4 px-1 px-lg-auto shadow-lg" [hidden]='!loaded'>
      <form [formGroup]="userForm">
        <div class="item-header mb-2">
          <div class="row">
            <!--select all items-->
            <div class="col-1 ml-0 pl-0 mx-sm-auto px-sm-auto pt-1">
              <input
                id="allSelected"
                formControlName="selectAll"
                (click)="checkAllItems(!fval.selectAll.value)"
                type="checkbox"
                value=""
                class="ml-4 text-info"
                tooltip="Select All"
              />
            </div>
            <div class="col-4">
              <h5 class="text-center text-info">Client</h5>
            </div>
            <div class="col-3 mx-0 px-0">
              <h5 class="text-center text-info">Amount</h5>
            </div>
            <div class="col-4 mx-0 px-0 px-sm-3 px-lg-5">
              <h5 class="text-left text-info mx-0 px-0">Purpose</h5>
            </div>
          </div>
        </div>
        <div class="iteration" formArrayName="txnApprovals">
          <div
            class="item-container mt-1"
            *ngFor="let items of fval.txnApprovals['controls']; let idx = index"
          >
            <div
              class="list-card card mt-1 pt-2 mb-0 mx-auto px-0 pb-0 shadow-lg"
              [formGroupName]="idx" 
            >
              <div class="list-card-body card-body my-0 py-0 mx-0">
                <div class="row my-0 py-0">
                  <div class="col-1 ml-0 pl-1">
                    <!--select an item-->
                    <input
                      formControlName="approved"
                      (click)="deselectAll(idx)"
                      type="checkbox"
                      value=""
                      class="ml-1 text-info"
                    />
                  </div>
                  <div
                    class="col-3 d-flex justify-content-sm-start text-center"
                  >
                    <span class="itemCreated">
                      {{
                        fval.txnApprovals["controls"][idx]["controls"].client
                          .value
                      }}
                    </span>
                  </div>
                  <div 
                  class="col-2 d-flex justify-content-center text-center"
                  >
                    <span class="itemCreated">
                      {{fval.txnApprovals["controls"][idx]["controls"].amount.value  | currency: "UGX "}}
                    </span>
                  </div>
                  <div 
                    class="col-4 justify-content-lg-center text-center"

                    >
                    <span class="itemCreated">
                      {{fval.txnApprovals["controls"][idx]["controls"].purpose.value}}
                    </span>
                  </div>
                  <div
                        class="col-2 justify-content-end font-weight-bold"
                      >
                        <a class="text-dark pointerCursor">
                          <span
                            class="itemCreated"
                            (click)="
                              openModal(
                                template, fval.txnApprovals['controls'][idx]['controls'].loanId.value
                              )
                            "
                            >Details
                          </span>
                        </a>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="d-flex mt-3 mb-0 py-2 mx-auto">
        <button
          class="btn btn-info col-4 col-md-3 mx-auto px-0"
          (click)="approveItems()"
        >
          <i class="fas fa-check"></i> Approve
        </button>
        <button
          class="btn btn-info col-4 col-md-3 mx-auto px-0"
          (click)="rejectItems()"
        >
          <i class="fas fa-times"></i> Reject
        </button>
      </div>
      <div class="d-flex mt-3 mb-2 mb-xl-0 py-2 mx-auto">
        <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
          <p class="text-light">Please wait...</p>
        </ngx-spinner>
        <label class="col" *ngIf="errored" class="text-danger">
          <!-- <i class="material-icons">Cancel</i> -->
          <ngx-alerts></ngx-alerts>
        </label>
        <label class="col" *ngIf="posted" class="text-info">
          <!-- <i class="material-icons">check_circle</i> -->
          <ngx-alerts></ngx-alerts>
        </label>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header bg-info">
    <h4 class="modal-title text-white">Loan Details</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="list-card card mt-1 pt-3 mb-0 mx-auto px-0 pb-2 shadow-lg">
      <div class="list-card-body card-body my-0 py-0 mx-0">
        <div class="row my-0 py-0">
              <div
                class="col-2 col-xl-1 mt-0 mb-0 pt-0 pt-md-3 pt-xl-1 pb-0 px-xl-0"
              >
                <!--add checkedLoan from the checkedLoanbase next to the span after &nbsp;-->
                <pinch-zoom class="d-flex justify-content-center">
                <img
                  class="img-rounded"
                  [src]="checkedLoan.url"
                  height="35em"
                  width="35em"
                  style="border-radius: 40em;"
                />
</pinch-zoom>
              </div>
          <div class="col-10 col-xl-11">
            <div class="row">
              <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-6 d-flex justify-content-sm-start">
                <span class="">Client Name</span>
              </div>
              <div
                class="col-6 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated">{{ checkedLoan.name }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-6 d-flex justify-content-sm-start">
                <span class="">Phone Number</span>
              </div>
              <div
                class="col-6 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated">
                  {{ checkedLoan.phone }}
                </span>
              </div>
            </div>
                      </div>
              <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Loan Purpose</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated"> {{ checkedLoan.data[0].microLoanPurpose }} </span>
              </div>
            </div>
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Loan Amount</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="">
                  <span class="itemCreated">{{ checkedLoan.data[0].txnAmount }}</span>
                </a>
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let item of checkedLoan.data[1][0]; let i = index">
          <div class="row my-1 py-0">
            <div class="col-12">
              <h5 class="rub-head4 text-info text-center font-weight-bold py-1">
                Guarantor {{ i + 1 }}'s Information
              </h5>
            </div>
          </div>
          <div class="row my-0 py-0">
                <div
                  class="col-2 col-xl-1 mt-0 mb-0 pt-0 pt-md-4 pt-xl-3 pb-0 px-xl-0"
                >
                  <!--add checkedLoan from the checkedLoanbase next to the span after &nbsp;-->
                  <pinch-zoom class="d-flex justify-content-center">
                  <img
                    class="img-rounded"
                    [src]="item.microLoanGuarantorPhotoUrl"
                    height="35em"
                    width="35em"
                    style="border-radius: 40em;"
                  />
            </pinch-zoom>
                </div>
            <div class="col-10 col-xl-11">
              <div class="row">
                <div class="col-12 col-lg-6">
              <div class="row">
                <div class="col-6 d-flex justify-content-sm-start">
                  <span class="">Name</span>
                </div>
                <div
                  class="col-6 d-flex justify-content-sm-start font-weight-bold"
                >
                  <span class="itemCreated">{{
                    item.microLoanGuarantorName
                  }}</span>
                </div>
              </div>
              </div>
                <div class="col-12 col-lg-6">
              <div class="row">
                <div class="col-6 d-flex justify-content-sm-start">
                  <span class="">Phone No.1</span>
                </div>
                <div
                  class="col-6 d-flex justify-content-sm-start font-weight-bold"
                >
                  <span class="itemCreated"
                    >{{ item.microLoanGuarantorPhone1 }}
                  </span>
                </div>
              </div>
            </div>
              </div>
                          <div class="row">
                <div class="col-12 col-lg-6">
              <div class="row">
                <div class="col-6 d-flex justify-content-sm-start">
                  <span class="">Phone No.2</span>
                </div>
                <div
                  class="col-6 d-flex justify-content-sm-start font-weight-bold"
                >
                  <span class="itemCreated">{{
                    item.microLoanGuarantorPhone2
                  }}</span>
                </div>
              </div>
              </div>
                <div class="col-12 col-lg-6">
              <div class="row">
                <div class="col-6 d-flex justify-content-sm-start">
                  <span class="">Business Type</span>
                </div>
                <div
                  class="col-6 d-flex justify-content-sm-start font-weight-bold"
                >
                  <a class="">
                    <span class="itemCreated">
                      {{ item.microLoanGuarantorTypeOfBusiness }}
                    </span>
                  </a>
                </div>
              </div>
            </div>
            </div>
              <div class="row">
            <div class="col-12 col-lg-6">
              <div class="row">
                <div class="col-6 d-flex justify-content-sm-start">
                  <!--stage start date-->
                  <span class="">Business Location</span>
                </div>
                <div
                  class="col-6 d-flex justify-content-sm-start font-weight-bold"
                >
                  <a class="">
                    <span class="itemCreated">
                      {{ item.microLoanGuarantorBusinessLocation }}
                    </span>
                  </a>
                </div>
              </div>
              </div>
                <div class="col-12 col-lg-6">
              <div class="row">
                <div class="col-6 d-flex justify-content-sm-start">
                  <span class="">Current Location</span>
                </div>
                <div
                  class="col-6 d-flex justify-content-sm-start font-weight-bold"
                >
                  <a class="">
                    <span class="itemCreated">
                      {{ item.microLoanGuarantorPlaceOfResidense }}
                    </span>
                  </a>
                </div>
              </div>
            </div>
            </div>
          </div>
          </div>
        </div>
        <div *ngFor="let item of checkedLoan.data[1][1]; let i = index">
          <div class="row my-1 py-0">
            <div class="col-12">
              <h5 class="rub-head4 text-info text-center font-weight-bold py-1">
                Security {{ i + 1 }}'s Information
              </h5>
            </div>
          </div>
          <div class="row my-0 pt-0 pb-2">
                <div
                  class="col-2 col-xl-1 mt-0 mb-0 pt-0 pt-md-2 pt-xl-0 pb-0 px-xl-0"
                >
                  <!--add checkedLoan from the checkedLoanbase next to the span after &nbsp;-->
                  <pinch-zoom class="d-flex justify-content-center">
                  <img
                    class="img-rounded"
                    [src]="item.microLoanSecurityPhotoUrl"
                    height="35em"
                    width="35em"
                    style="border-radius: 20em;"
                  />
          </pinch-zoom>
                </div>
            <div class="col-10 col-xl-11">
              <div class="row">
                <div class="col-12 col-lg-6">
              <div class="row">
                <div class="col-5 d-flex justify-content-sm-start">
                  <span class="">Security Type</span>
                </div>
                <div
                  class="col-7 d-flex justify-content-sm-start font-weight-bold"
                >
                  <span class="itemCreated">
                    {{ item.securityTypeName }}
                  </span>
                </div>
              </div>
              </div>
                <div class="col-12 col-lg-6">
              <div class="row">
                <div class="col-6 d-flex justify-content-sm-start">
                  <span class="">Security Name</span>
                </div>
                <div
                  class="col-6 d-flex justify-content-sm-start font-weight-bold"
                >
                  <span class="itemCreated">
                    {{ item.microLoanSecurityName }}
                  </span>
                </div>
            </div>
        </div>
          </div>
            </div>
            </div>
            </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-info col-3 col-xl-2 pull-right"
      (click)="modalRef.hide()"
    >
      Ok
    </button>
  </div>
</ng-template>