.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.card-body {
  width: 100%;
  border-radius: 8px;
}

.invest-card {
  height: auto;
  max-height: 480px;
  margin-bottom: 20px !important;
}

.iteration {
  height: auto;
  max-height: 340px;
  overflow-y: auto;
}

.list-card {
  position: relative;
  width: 100%;
height: auto;
  min-height: 20px !important;
}
.list-card-body {
  width: 100%;
height: auto;
}

.level-control {
  padding-right: 5px !important;
  padding-left: 5px !important;
  width: 100%;
  height: 28px;
}

.edit-button {
  margin-right: 0px !important;
  margin-left: 1.05rem !important;
}
.save-button {
  margin-right: 0px !important;
  margin-left: 0px !important;
}



//media queries
@media (min-width: 320px) {
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .list-card {
    min-height: 40px !important;
  }
}

@media (min-width: 360px) {
}

@media (min-width: 375px) {
  .card-body {
    margin-bottom: .65rem !important;
  }
  .jumbotron-fluid {
    padding-bottom: 40px !important;
  }
}

@media (min-width: 410px) {
  .jumbotron-fluid {
    padding-bottom: 20px !important;
  }
  .edit-button {
  margin-left: 10px !important;
  }
}

@media (min-width: 445px) {
}

@media (min-width: 568px) {
}

@media (min-width: 768px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .jumbotron-fluid {
    padding-top: .65rem !important;
    padding-bottom: 1.8rem !important;
  }
  .itemCreated {
  margin-left: 0rem !important;
  }
  .edit-button {
  margin-left: .95rem !important;
  }
.invest-card {
  max-height: 800px;
}

.iteration {
  max-height: 680px;
}
}

@media (min-width: 812px) {
  .card-body {
    margin-bottom: 0px !important;
  }
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
  }
  .edit-button {
  margin-left: 1.3rem !important;
  }
}

@media (min-width: 1024px) {
  .jumbotron-fluid {
    padding-top: .85rem !important;
    padding-bottom: 1.8rem !important;
  }
.invest-card {
  max-height: 980px;
}

.iteration {
  max-height: 900px;
}
.edit-button {
  margin-left: 1.8rem !important;
}
}


@media (min-width: 1280px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .jumbotron-fluid {
    margin-top: 10px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
 .invest-card {
  max-height: 530px;
}

.iteration {
  max-height: 410px;
}
  .itemCreated {
  margin-left: 1.6rem !important;
  }
  .edit-button {
  margin-left: .97rem !important;
  }
}
