.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.text-info {
  color: #17aae0ee !important;
}


.pointerCursor {
  cursor: pointer;
}

.the-footer {
    margin-top: 1rem;
  }


//media queries
@media (min-width: 320px) {
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

@media (min-width: 360px) {
.the-footer {
    margin-top: 4.6rem !important;
  }
}

@media (min-width: 375px) {
  .jumbotron-fluid {
    padding-bottom: 10px !important;
  }
.the-footer {
    margin-top: 4.6rem !important;
  }
}

@media (min-width: 410px) {
  .jumbotron-fluid {
    padding-bottom: 5px !important;
  }
.the-footer {
    margin-top: 5.2rem !important;
  }
}

@media (min-width: 445px) {
  .jumbotron-fluid {
    padding-top: 8px !important;
    padding-bottom: 5px !important;
  }
}

@media (min-width: 568px) {
  .jumbotron-fluid {
    padding-top: 0px !important;
  }
.the-footer {
    margin-top: .7rem !important;
  }
}

@media (min-width: 640px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 768px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .jumbotron-fluid {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
.the-footer {
    margin-top: 7rem !important;
  }
  }
}

@media (min-width: 812px) {
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
  }
.the-footer {
    margin-top: 1.6rem !important;
  }
}

@media (min-width: 1024px) {
  .jumbotron-fluid {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
  }
}

@media (min-width: 1100px) {
}

@media (min-width: 1280px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  h4 {
    font-size: 22px !important;
  }
  h5 {
    font-size: 20px !important;
  }
  .card-body {
    max-width: 1440px;
    min-width: 1250px;
    min-height: 430px !important;
    max-height: 500px !important;
    padding-top: 10px !important;
    margin-top: 8px !important;
    margin-bottom: 15px !important;
  }
  .jumbotron-fluid {
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 10px !important;
  }
}

@media (min-width: 1320px) {
}
