.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  margin-right: 0px !important;
  contain: auto;
}

.card-body {
  width: 100%;
  height: 100%;
}

.big-card-2 {
height: 200px !important;
margin-bottom: 0px !important;
contain: auto;
}
.big-card-body-2 {
height: 100% !important;
margin-bottom: 0px !important;
}

  .fas {
      font-size: 1.2rem !important;
  }
  .fa-coins {
      font-size: 1rem !important;
  }

  .btn {
  border-radius: 15px;
}

.text-info {
  color: #17aae0ee !important
}

.text-gray {
  color: #f7f5f5;
}

a.text-info:focus,
a.text-info:hover {
  color: #48bae4f5 !important
}

.btn-info {
  color: #17aae0ee;
  background-color: transparent;
  border-color: #17aae0ee
}

.btn-info:hover,
.btn-info:focus {
  color: #d9dbdd;
  background-color: #17aae0ee;
  border-color: #17aae0ee
}

.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 .2rem #0e99ccee
}

.btn-info.disabled,
.btn-info:disabled {
  color: #1b9eceec;
  background-color: transparent;
  border-color: #1b9eceec
}

.pointerCursor {
  cursor: pointer;
}

.sm-card-1 {
height: 160px;
  background-image: linear-gradient(to bottom right, rgb(168, 18, 106, 1), rgba(189, 192, 194, 0.7));
  border: 0rem;
}

.sm-card-2 {
  background-image: linear-gradient(to bottom right, rgba(19, 153, 206, 0.97), rgba(189, 192, 194, 0.7));
  border: 0rem;
}

.sm-card-3 {
  background-image: linear-gradient(to bottom right, rgb(168, 18, 106, 1), rgba(189, 192, 194, 0.7));
  border: 0rem;
}

.sm-card-4 {
  background-image: linear-gradient(to bottom right, rgba(19, 153, 206, 0.97), rgba(189, 192, 194, 0.7));
  border: 0rem;
}

@media (min-width:360px) {
  .thunder-col-1 {
      margin-bottom: 5px !important;
  }
  .thunder-col-2 {
      padding-left: 0px !important;
      margin-bottom: 5px !important;
  }
  .thunder-col-3 {
      margin-bottom: 5px !important;
  }
  .thunder-col-4 {
      padding-left: 0px !important;
      margin-bottom: 5px !important;
  }
  .sm-card-1 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .sm-card-2 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .sm-card-title-2 {
      font-size: 11px !important;
      margin-left: 0px !important;
      padding-left: 2px !important;
      padding-right: 0px !important;
  }
  .sm-card-3 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .sm-card-title-3 {
      font-size: 11px !important;
      margin-left: 0px !important;
      padding-left: 2px !important;
      padding-right: 0px !important;
  }
  .sm-card-4 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .sm-card-title-4 {
      font-size: 11px !important;
      margin-left: 0px !important;
      padding-left: 2px !important;
      padding-right: 0px !important;
  }
  .components {
      margin-top: 8px !important;
  }
}

@media (min-width:375px) {}

@media (min-width:410px) {
  .sm-card-title-2 {
      font-size: .9rem !important;
  }
  .sm-card-title-3 {
      font-size: .9rem !important;
  }
  .sm-card-title-4 {
      font-size: .9rem !important;
  }
  .fas {
      font-size: 1.2rem !important;
  }
  .fa-coins {
      font-size: 1rem !important;
  }
}

@media (min-width:445px) {
.sm-card-1 {
height: 164px;
}
  .sm-card-title-2 {
      font-size: 1rem !important;
      padding-left: .35rem !important;
  }
  .sm-card-title-3 {
      font-size: 1rem !important;
      padding-left: .35rem !important;
  }
  .sm-card-title-4 {
      font-size: 1rem !important;
      padding-left: .35rem !important;
  }
  .fas {
      font-size: 1.4rem !important;
  }
  .fa-coins {
      font-size: 1.2rem !important;
  }
  .big-card-2 {
      height: 290px !important;
  }
}

@media (min-width: 768px) {
  .container {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
.sm-card-1 {
height: 190px;
}
  .sm-card-title-2 {
      font-size: 1.6rem !important;
      padding-left: .5rem !important;
  }
  .sm-card-title-3 {
      font-size: 1.6rem !important;
      padding-left: .5rem !important;
  }
  .sm-card-title-4 {
      font-size: 1.6rem !important;
      padding-left: .5rem !important;
  }
  .fas {
      font-size: 1.8rem !important;
  }
  .fa-coins {
      font-size: 1.6rem !important;
  }
  .big-card-2 {
      height: 400px !important;
  }
}

@media (min-width: 812px) {
  .container {
      margin-left: auto !important;
      margin-right: auto !important;
  }
  .big-card-2 {
      height: 320px;
  }
}

@media (min-width: 1024px) {
  .container {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
  .big-card-2 {
        height: 500px !important;
  }
  .big-card-body-2 {
        margin-left: 2.5rem !important;
        margin-right: 2.5rem !important;
  }
  .components {
      margin-top: 10px !important;
  }
}

@media (min-width:1100px) {
}

@media (min-width:1280px) {
.jumbotron-fluid{
      padding-top: .5rem !important;
}

  .container{
    max-width: 1100px !important;
    min-width: 1050px !important;
}
  .thunder-col-1 {
      margin-bottom: 0px !important;
  }
  .thunder-col-2 {
      margin-bottom: 0px !important;
  }
  .thunder-col-3 {
      margin-bottom: 0px !important;
  }
  .thunder-col-4 {
      margin-bottom: 0px !important;
  }
  .components {
      margin-top: 0px !important;
  }
.sm-card-1 {
height: 166px;
}
  .sm-card-title-2 {
      font-size: 1.1rem !important;
      padding-left: .5rem !important;
  }
  .sm-card-title-3 {
      font-size: 1.1rem !important;
      padding-left: .5rem !important;
  }
  .sm-card-title-4 {
      font-size: 1.1rem !important;
      padding-left: .5rem !important;
  }
  .fas {
      font-size: 1.8rem !important;
  }
  .fa-coins {
      font-size: 1.6rem !important;
  }
  .big-card-2 {
      height: 370px !important;
  }
  .big-card-body-2 {
        margin-left: 10rem !important;
        margin-right: 10rem !important;
  }
}

@media (min-width:1320px) {
  .container {
      margin-left: auto !important;
      margin-right: auto !important;
  }
}
