<div class="jumbotron-fluid mt-xl-0 pt-2 pt-md-3 px-xl-0 mb-0 pb-0 pb-md-4 pb-lg-5 mx-auto px-lg-0">
  <div class="container">
    <div class="row">
      <div class="thunder-col-1 col-6 col-md-6 col-xl-3 mb-4 mb-xl-1">
        <div class="sm-card-1 card shadow py-0">
          <div class="card-body">
            <div class="row">
                        <div class="col mx-0 px-0 mx-sm-2 mx-md-0 mx-lg-2">
                <div class="text-uppercase text-gray font-weight-bold mb-1">
                  <span class="sm-card-title-2">Float Balance</span>
                </div>
                <div class="row">
                  <div class="col-auto ml-sm-2 ml-md-0 ml-lg-2">
                    <div class="text-primary font-weight-bold h5 mb-0 pb-0 ml-2">
                      <span class="pl-1 pl-sm-2 pl-md-3 pl-lg-3 pb-0">{{totals[0].floatBalance}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto align-self-baseline">
                <i class="fas fa-coins text-secondary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="thunder-col-2 col-6 col-md-6 col-xl-3 mb-4 mb-xl-1">
        <div class="sm-card-2 card shadow py-0">
          <div class="card-body">
            <div class="row">
                        <div class="col mx-0 px-0 mx-sm-2 mx-md-0 mx-lg-2">
                <div class="text-uppercase text-gray font-weight-bold mb-1">
                  <span class="sm-card-title-2">Payments</span>
                </div>
                <div class="row">
                  <div class="col-auto ml-sm-2 ml-md-0 ml-lg-2">
                    <div class="text-primary font-weight-bold h5 mb-0 pb-0 ml-2">
                      <span class="sm-card-title-2 text-white-75">No. of Clients</span><br />
                      <span class="pl-1 pl-sm-2 pl-md-3 pl-lg-3 pb-0">{{totals[0].clients}}</span>
                    </div>
                    <div class="text-primary font-weight-bold h5 mb-0 pb-0 ml-2">
                      <span class="sm-card-title-2 text-white-75">Amount Paid</span><br />
                      <span class="pl-1 pl-sm-2 pl-md-3 pl-lg-3 pb-0">{{totals[0].amountPaid}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto align-self-bottom">
                <i class="fas fa-exchange-alt text-secondary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="thunder-col-3 col-6 col-md-6 col-xl-3 mb-4 mb-xl-1">
        <div class="sm-card-3 card shadow py-0">
          <div class="card-body">
            <div class="row">
                        <div class="col mx-0 px-0 mx-sm-2 mx-md-0 mx-lg-2">
                <div class="text-uppercase text-gray font-weight-bold mb-1">
                  <span class="sm-card-title-3">Loans Taken</span>
                </div>
                <div class="row">
                  <div class="col-auto ml-sm-2 ml-md-0 ml-lg-2">
                    <div class="text-primary font-weight-bold h5 mb-0 pb-0 ml-2">
                      <span class="sm-card-title-3 text-white-75">No. of Clients</span><br />
                      <span class="pl-0 pl-sm-2 pl-md-3 pl-lg-3 pb-0">{{totals[0].clients}}</span>
                    </div>
                    <div class="text-primary font-weight-bold h5 mb-0 pb-0 ml-2">
                      <span class="sm-card-title-3 text-white-75">Amount</span><br />
                      <span class="pl-0 pl-sm-2 pl-md-3 pl-lg-3 pb-0">{{totals[0].amountLoaned}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto align-self-baseline">
                <i class="fas fa-balance-scale-left text-secondary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="thunder-col-4 col-6 col-md-6 col-xl-3 mb-4 mb-xl-1">
        <div class="sm-card-4 card shadow py-0">
          <div class="card-body">
            <div class="row">
                        <div class="col mx-0 px-0 mx-sm-2 mx-md-0 mx-lg-2">
                <div class="text-uppercase text-gray font-weight-bold mb-1">
                  <span class="sm-card-title-4">Unpaid Loans</span>
                </div>
                <div class="row">
                  <div class="col-auto ml-sm-2 ml-md-0 ml-lg-2">
                    <div class="text-primary font-weight-bold h5 mb-0 pb-0 ml-2">
                      <span class="sm-card-title-4 text-white-75">No. of Clients</span><br />
                      <span class="pl-1 pl-sm-2 pl-md-3 pl-lg-3 pb-0">{{totals[0].clients}}</span>
                    </div>
                    <div class="text-primary font-weight-bold h5 mb-0 pb-0 ml-2">
                      <span class="sm-card-title-4 text-white-75">Amount</span><br />
                      <span class="pl-1 pl-sm-2 pl-md-3 pl-lg-3 pb-0">{{totals[0].amountUnpaid}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto align-self-baseline">
                <i class="fas fa-balance-scale-right text-secondary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-2 mt-md-4 mt-xl-3 mb-2 mx-0 shadow-lg">
      <div class="row">
        <div class="col-12">
          <h2
            class="rub-head4 text-info text-center font-weight-bold py-1"
          >
            Analysis
          </h2>
        </div>
      </div>
    </div>
<div class="components row mt-2 mt-md-2 mt-xl-1 pt-0 pt-md-2 pt-xl-1">
  <div class="col-12">
  <div class="big-card-2 card shadow-lg mb-3 pb-0 mx-auto">
    <div class="big-card-body-2 card-body mx-auto px-auto mt-0 mt-md-3 mt-xl-0 mb-0 pb-0">
      <div class="row">
        <div class="col-xs-12 col-lg-11 col-xl-8 d-flex justify-content-between align-items-center">
          <canvas
            ngChartjs
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [inlinePlugins]="inlinePlugin"
            real-time
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--footer -->
<div
  class="d-flex justify-content-center col-xs-12 col-lg-12 mt-3 mb-3 mx-auto"
>
  <div class="small text-center text-info">&copy; 2020 - ThunderBolt</div>
</div>
<!--/ footer -->
