<div
  class="container-fluid d-flex flex-row justify-content-center mb-0 mt-1 pt-1 pb-0 shadow-lg col-xs-12 col-lg-10"
>
  <div class="jumbotron-fluid mb-0 pb-0">
    <div class="container mt-0 mb-2 mx-0 shadow-lg">
      <div class="row">
        <div class="col-12">
          <h3
            class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
          >
            Micro Client Info
          </h3>
        </div>
      </div>
    </div>
    <div class="card-body mt-1 pt-4 mb-0 mb-md-3 pb-0 pb-md-1 shadow-lg">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12 col-md-6">
        <div class="form-group text-primary">
            <label
              for="clientName"
              [ngClass]="fval.clientName.valid ? 'text-info' : ''"
              ><i *ngIf="fval.clientName.valid" class="material-icons"
                >check_circle</i
              >Client Name</label
            >
            <div class="input-group mb-0">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i
                    class="fas fa-user-alt text-primary mx-auto"
                    style="size: 50px"
                  >
                  </i>
                </div>
              </div>
              <select
                formControlName="clientName"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    (fval.clientName.touched || fval.clientName.dirty) &&
                    fval.clientName.errors
                }"
                autocomplete="off"
                placeholder="Select Client name"
              >
                <option>James Kibuuka</option>
                <option>Charles Kibuuka</option>
                <option>Allan Kibuuka</option>
                <option>Gordon Kibuuka</option>
              </select>
            </div>
            <div
              class="text-danger col"
              *ngIf="
                (fval.clientName.touched || fval.clientName.dirty) &&
                fval.clientName.errors?.required
              "
            >
              The client name is required!
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <div class="form-group text-primary">
            <label
              for="microloanCustomerGaurantor1"
              [ngClass]="
                fval.microloanCustomerGaurantor1.valid ? 'text-info' : ''
              "
              >Guarantor 1<i
                *ngIf="fval.microloanCustomerGaurantor1.valid"
                class="material-icons"
                >check_circle</i
              ></label
            >
            <div class="input-group mb-0">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i
                    class="fas fa-user-alt text-primary mx-auto"
                    style="size: 50px"
                  >
                  </i>
                </div>
              </div>
              <input
                type="text"
                formControlName="microloanCustomerGaurantor1"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    (fval.microloanCustomerGaurantor1.touched ||
                      fval.microloanCustomerGaurantor1.dirty) &&
                    fval.microloanCustomerGaurantor1.errors
                }"
                autocomplete="off"
                placeholder="First guarantor's Name"
              />
            </div>
            <div
              class="text-danger col"
              *ngIf="
                (fval.microloanCustomerGaurantor1.touched ||
                  fval.microloanCustomerGaurantor1.dirty) &&
                fval.microloanCustomerGaurantor1.errors?.required
              "
            >
              The guarantor 1 name is required!
            </div>
          </div>
        </div>
    </div>
          <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="form-group text-primary">
              <label
                for="microloanCustomerGaurantor2"
                [ngClass]="
                  fval.microloanCustomerGaurantor2.valid ? 'text-info' : ''
                "
                >Guarantor 2<i
                  *ngIf="fval.microloanCustomerGaurantor2.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-user-alt text-primary mx-auto"
                      style="size: 50px"
                    >
                    </i>
                  </div>
                </div>
                <input
                  type="text"
                  formControlName="microloanCustomerGaurantor2"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.microloanCustomerGaurantor2.touched ||
                        fval.microloanCustomerGaurantor2.dirty) &&
                      fval.microloanCustomerGaurantor2.errors
                  }"
                  autocomplete="off"
                  placeholder="Second guarantor's Name"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.microloanCustomerGaurantor2.touched ||
                    fval.microloanCustomerGaurantor2.dirty) &&
                  fval.microloanCustomerGaurantor2.errors?.required
                "
              >
                The guarantor 2 name is required!
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="form-group text-primary">
              <label
                for="microloanCustomerGaurantor3"
                [ngClass]="
                  fval.microloanCustomerGaurantor3.valid ? 'text-info' : ''
                "
                >Guarantor 3<i
                  *ngIf="fval.microloanCustomerGaurantor3.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-user-alt text-primary mx-auto"
                      style="size: 50px"
                    >
                    </i>
                  </div>
                </div>
                <input
                  type="text"
                  formControlName="microloanCustomerGaurantor3"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.microloanCustomerGaurantor3.touched ||
                        fval.microloanCustomerGaurantor3.dirty) &&
                      fval.microloanCustomerGaurantor3.errors
                  }"
                  autocomplete="off"
                  placeholder="Third guarantor's Name"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.microloanCustomerGaurantor3.touched ||
                    fval.microloanCustomerGaurantor3.dirty) &&
                  fval.microloanCustomerGaurantor3.errors?.required
                "
              >
                The guarantor 3 name is required!
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="microloanCustomerSecurity1"
                [ngClass]="
                  fval.microloanCustomerSecurity1.valid ? 'text-info' : ''
                "
                >Security 1<i
                  *ngIf="fval.microloanCustomerSecurity1.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-building text-primary mx-auto"
                      style="size: 50px"
                    >
                    </i>
                  </div>
                </div>
                <input
                  type="text"
                  formControlName="microloanCustomerSecurity1"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.microloanCustomerSecurity1.touched ||
                        fval.microloanCustomerSecurity1.dirty) &&
                      fval.microloanCustomerSecurity1.errors
                  }"
                  autocomplete="off"
                  placeholder="Enter first security"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.microloanCustomerSecurity1.touched ||
                    fval.microloanCustomerSecurity1.dirty) &&
                  fval.microloanCustomerSecurity1.errors?.required
                "
              >
                Security 1 is required!
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="microloanCustomerSecurity2"
                [ngClass]="
                  fval.microloanCustomerSecurity2.valid ? 'text-info' : ''
                "
                >Security 2<i
                  *ngIf="fval.microloanCustomerSecurity2.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-building text-primary mx-auto"
                      style="size: 50px"
                    >
                    </i>
                  </div>
                </div>
                <input
                  type="text"
                  formControlName="microloanCustomerSecurity2"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.microloanCustomerSecurity2.touched ||
                        fval.microloanCustomerSecurity2.dirty) &&
                      fval.microloanCustomerSecurity2.errors
                  }"
                  autocomplete="off"
                  placeholder="Enter second security"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.microloanCustomerSecurity2.touched ||
                    fval.microloanCustomerSecurity2.dirty) &&
                  fval.microloanCustomerSecurity2.errors?.required
                "
              >
                Security 2 is required!
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="microloanCustomerSecurityLocation1"
                [ngClass]="
                  fval.microloanCustomerSecurityLocation1.valid
                    ? 'text-info'
                    : ''
                "
                >Security 1 Location<i
                  *ngIf="fval.microloanCustomerSecurityLocation1.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-location-arrow text-primary mx-auto"
                      style="size: 50px"
                    >
                    </i>
                  </div>
                </div>
                <input
                  type="text"
                  formControlName="microloanCustomerSecurityLocation1"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.microloanCustomerSecurityLocation1.touched ||
                        fval.microloanCustomerSecurityLocation1.dirty) &&
                      fval.microloanCustomerSecurityLocation1.errors
                  }"
                  autocomplete="off"
                  placeholder="Enter first security's location"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.microloanCustomerSecurityLocation1.touched ||
                    fval.microloanCustomerSecurityLocation1.dirty) &&
                  fval.microloanCustomerSecurityLocation1.errors?.required
                "
              >
                Security 1's location is required!
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="microloanCustomerSecurityLocation2"
                [ngClass]="
                  fval.microloanCustomerSecurityLocation2.valid
                    ? 'text-info'
                    : ''
                "
                >Security 2 Location<i
                  *ngIf="fval.microloanCustomerSecurityLocation2.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-location-arrow text-primary mx-auto"
                      style="size: 50px"
                    >
                    </i>
                  </div>
                </div>
                <input
                  type="text"
                  formControlName="microloanCustomerSecurityLocation2"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.microloanCustomerSecurityLocation2.touched ||
                        fval.microloanCustomerSecurityLocation2.dirty) &&
                      fval.microloanCustomerSecurityLocation2.errors
                  }"
                  autocomplete="off"
                  placeholder="Enter second security's location"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.microloanCustomerSecurityLocation2.touched ||
                    fval.microloanCustomerSecurityLocation2.dirty) &&
                  fval.microloanCustomerSecurityLocation2.errors?.required
                "
              >
              Security 2's location is required!
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="microloanCustomerSecurity1PhotoUrl"
                [ngClass]="fval.microloanCustomerSecurity1PhotoUrl.valid ? 'text-info' : ''"
                >Security 1 Image<i
                  *ngIf="fval.microloanCustomerSecurity1PhotoUrl.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-image text-primary mx-auto"
                      style="size: 50px"
                    ></i>
                  </div>
                </div>
                <input
                  id="microloanCustomerSecurity1PhotoUrl"
                  formControlName="microloanCustomerSecurity1PhotoUrl"
                  type="file"
                  src="image/*"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.microloanCustomerSecurity1PhotoUrl.touched ||
                        fval.microloanCustomerSecurity1PhotoUrl.dirty) &&
                      fval.microloanCustomerSecurity1PhotoUrl.errors
                  }"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.microloanCustomerSecurity1PhotoUrl.touched || fval.microloanCustomerSecurity1PhotoUrl.dirty) &&
                  fval.microloanCustomerSecurity1PhotoUrl.errors?.required
                "
              >
                Please upload an image of Security 1!
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="microloanCustomerSecurity2PhotoUrl"
                [ngClass]="fval.microloanCustomerSecurity2PhotoUrl.valid ? 'text-info' : ''"
                >Security 2 Image<i
                  *ngIf="fval.microloanCustomerSecurity2PhotoUrl.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-image text-primary mx-auto"
                      style="size: 50px"
                    ></i>
                  </div>
                </div>
                <input
                  id="microloanCustomerSecurity2PhotoUrl"
                  formControlName="microloanCustomerSecurity2PhotoUrl"
                  type="file"
                  src="image/*"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.microloanCustomerSecurity2PhotoUrl.touched ||
                        fval.microloanCustomerSecurity2PhotoUrl.dirty) &&
                      fval.microloanCustomerSecurity2PhotoUrl.errors
                  }"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.microloanCustomerSecurity2PhotoUrl.touched || fval.microloanCustomerSecurity2PhotoUrl.dirty) &&
                  fval.microloanCustomerSecurity2PhotoUrl.errors?.required
                "
              >
                Please upload an image of Security 2!
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex mt-2 mb-3 pt-0 pb-3 mx-auto">
          <button
            type="submit"
            class="btn btn-info col-5 col-md-4 mx-auto"
            routerLink="/stationofficer/enroll/enrollclient/personalinfo"
          >
            Back
          </button>

          <!-- <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
            <p class="text-light">Please wait...</p>
          </ngx-spinner> -->

          <label class="col" *ngIf="errored" class="text-danger">
            <i class="material-icons">Cancel</i>

            <!-- <ngx-alerts></ngx-alerts> -->
          </label>

          <label class="col" *ngIf="posted" class="text-info">
            <i class="material-icons">check_circle</i>
            <!-- <ngx-alerts></ngx-alerts> -->
          </label>

          <button
            type="button"
            class="btn btn-info col-5 col-md-4 mx-auto"
            routerLink="/stationofficer/enroll/enrollclient/bodaloanclient"
          >
            Next
          </button>
        </div>
      </form>
    </div>
    <div class="d-flex mt-3 mb-2 mb-xl-0 pt-0 pb-2 pb-xl-0 mx-auto">
      <button
        type="submit"
        class="btn btn-info col-5 col-md-3 mx-auto"
        [disabled]="!userForm.valid"
      >
        Save
      </button>

      <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
        <p class="text-light">Please wait...</p>
      </ngx-spinner>

      <label class="col" *ngIf="errored" class="text-danger">
        <i class="material-icons">Cancel</i>

        <!-- <ngx-alerts></ngx-alerts> -->
      </label>

      <label class="col" *ngIf="posted" class="text-info">
        <i class="material-icons">check_circle</i>
        <!-- <ngx-alerts></ngx-alerts> -->
      </label>

      <button
        type="button"
        class="btn btn-info col-5 col-md-3 mx-auto"
        (click)="resetStageNames()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
