.jumbotron-fluid {
  height: auto !important;
}

.rub-head4 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.card-body {
  width: 100%;
  height: auto;
  max-width: 300px;
  min-width: 260px;
  border-radius: 8px;
  contain: auto;
}
.form-2 {
  max-width: 300px;
  min-width: 260px;
}

    .client-modal .card-body {
      margin-bottom: 0rem !important;
    }
.list-card {
  height: auto !important;
  font-size: .8em;
  border-left: 3px solid #adabab
}
.list-card:hover {
  border-left: 3px solid #17aae0
}
.list-card-body {
  width: 100%;
      margin-bottom: 0rem !important;
}



//media queries
@media (min-width: 320px) {
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: .65rem !important;
  }
}

@media (min-width: 360px) {
  .card-body {
    max-width: 350px;
  }
.form-2 {
  max-width: 350px;
}
  .jumbotron-fluid {
    padding-top: .7rem !important;
    padding-bottom: .5rem !important;
  }
}

@media (min-width: 375px) {
}

@media (min-width: 410px) {
.form-2 {
  max-width: 380px;
}
.form-3 {
  max-width: 380px;
}
}

@media (min-width: 445px) {
.form-2 {
  max-width: 440px;
}
.form-3 {
  max-width: 440px;
}
}

@media (min-width: 568px) {
  .jumbotron-fluid {
    padding-bottom: .8rem !important;
  }
.form-2 {
  max-width: 460px;
}
.form-3 {
  max-width: 460px;
}
}

@media (min-width: 640px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
.form-2 {
  max-width: 550px;
}
.form-3 {
  max-width: 550px;
}
}

@media (min-width: 768px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .jumbotron-fluid {
    padding-bottom: 10rem !important;
  }
.form-2 {
  max-width: 680px;
}
}

@media (min-width: 812px) {
  .jumbotron-fluid {
    padding-bottom: 1rem !important;
  }
.form-2 {
  max-width: 720px;
}
}

@media (min-width: 1024px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .jumbotron-fluid {
    padding-bottom: 20rem !important;
  }
.form-2 {
  max-width: 940px;
}
}

@media (min-width: 1100px) {
  .jumbotron-fluid {
    margin-top: 0rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-bottom: 0rem !important;
  }
}

@media (min-width: 1280px) {
.form-2 {
  max-width: 1100px;
}
}

@media (min-width: 1320px) {
}
