<div
  class="container-fluid d-flex flex-row justify-content-center mb-0 mt-1 pt-1 pb-0 shadow-lg col-xs-12 col-lg-10"
>
  <div class="jumbotron-fluid mb-0 pb-0">
    <div class="container mt-0 mb-2 mx-0 shadow-lg">
      <div class="row">
        <div class="col-12">
          <h3
            class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
          >
            Boda Client Info
          </h3>
        </div>
      </div>
    </div>
    <div class="card-body mt-1 pt-4 mb-0 mb-md-3 pb-0 pb-md-1 shadow-lg">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12 col-md-6">
        <div class="form-group text-primary">
            <label
              for="clientName"
              [ngClass]="fval.clientName.valid ? 'text-info' : ''"
              ><i *ngIf="fval.clientName.valid" class="material-icons"
                >check_circle</i
              >Client Name</label
            >
            <div class="input-group mb-0">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i
                    class="fas fa-user-alt text-primary mx-auto"
                    style="size: 50px"
                  >
                  </i>
                </div>
              </div>
              <select
                formControlName="clientName"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    (fval.clientName.touched || fval.clientName.dirty) &&
                    fval.clientName.errors
                }"
                autocomplete="off"
                placeholder="Select Client name"
              >
                <option>James Kibuuka</option>
                <option>Charles Kibuuka</option>
                <option>Allan Kibuuka</option>
                <option>Gordon Kibuuka</option>
              </select>
            </div>
            <div
              class="text-danger col"
              *ngIf="
                (fval.clientName.touched || fval.clientName.dirty) &&
                fval.clientName.errors?.required
              "
            >
              The client name is required!
            </div>
          </div>
        </div>
      </div>
          <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="bodabodaCustomerNumberPlate"
                [ngClass]="
                  fval.bodabodaCustomerNumberPlate.valid ? 'text-info' : ''
                "
                >Number Plate<i
                  *ngIf="fval.bodabodaCustomerNumberPlate.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-motorcycle text-primary mx-auto"
                      style="size: 50px"
                    >
                    </i>
                  </div>
                </div>
                <input
                  type="text"
                  formControlName="bodabodaCustomerNumberPlate"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.bodabodaCustomerNumberPlate.touched ||
                        fval.bodabodaCustomerNumberPlate.dirty) &&
                      fval.bodabodaCustomerNumberPlate.errors
                  }"
                  autocomplete="off"
                  placeholder="Enter Bodaboda number plate"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.bodabodaCustomerNumberPlate.touched ||
                    fval.bodabodaCustomerNumberPlate.dirty) &&
                  fval.bodabodaCustomerNumberPlate.errors?.required
                "
              >
                The Bodaboda number plate is required!
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="bodabodaCustomerColour"
                [ngClass]="
                  fval.bodabodaCustomerColour.valid ? 'text-info' : ''
                "
                >Bodaboda color<i
                  *ngIf="fval.bodabodaCustomerColour.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <input
                  type="text"
                  formControlName="bodabodaCustomerColour"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.bodabodaCustomerColour.touched ||
                        fval.bodabodaCustomerColour.dirty) &&
                      fval.bodabodaCustomerColour.errors
                  }"
                  autocomplete="off"
                  placeholder="Enter bodaboda's color"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.bodabodaCustomerColour.touched ||
                    fval.bodabodaCustomerColour.dirty) &&
                  fval.bodabodaCustomerColour.errors?.required
                "
              >
                The bodaboda color is required!
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="bodabodaCustomerModel"
                [ngClass]="
                  fval.bodabodaCustomerModel.valid ? 'text-info' : ''
                "
                >Model<i
                  *ngIf="fval.bodabodaCustomerModel.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <input
                  type="text"
                  formControlName="bodabodaCustomerModel"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.bodabodaCustomerModel.touched ||
                        fval.bodabodaCustomerModel.dirty) &&
                      fval.bodabodaCustomerModel.errors
                  }"
                  autocomplete="off"
                  placeholder="Enter model of bodaboda"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.bodabodaCustomerModel.touched ||
                    fval.bodabodaCustomerModel.dirty) &&
                  fval.bodabodaCustomerModel.errors?.required
                "
              >
                The bodaboda model is required!
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="bodabodaCustomerYearOfManufacture"
                [ngClass]="
                  fval.bodabodaCustomerYearOfManufacture.valid ? 'text-info' : ''
                "
                >Year of Manufacture<i
                  *ngIf="fval.bodabodaCustomerYearOfManufacture.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <input
                  type="text"
                  formControlName="bodabodaCustomerYearOfManufacture"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.bodabodaCustomerYearOfManufacture.touched ||
                        fval.bodabodaCustomerYearOfManufacture.dirty) &&
                      fval.bodabodaCustomerYearOfManufacture.errors
                  }"
                  autocomplete="off"
                  placeholder="Enter Year of Manufacture"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.bodabodaCustomerYearOfManufacture.touched ||
                    fval.bodabodaCustomerYearOfManufacture.dirty) &&
                  fval.bodabodaCustomerYearOfManufacture.errors?.required
                "
              >
                The Year of Manufacture is required!
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="bodabodaCustomerEngineNumber"
                [ngClass]="
                  fval.bodabodaCustomerEngineNumber.valid
                    ? 'text-info'
                    : ''
                "
                >Engine number<i
                  *ngIf="fval.bodabodaCustomerEngineNumber.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <input
                  type="text"
                  formControlName="bodabodaCustomerEngineNumber"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.bodabodaCustomerEngineNumber.touched ||
                        fval.bodabodaCustomerEngineNumber.dirty) &&
                      fval.bodabodaCustomerEngineNumber.errors
                  }"
                  autocomplete="off"
                  placeholder="Enter bodaboda engine number"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.bodabodaCustomerEngineNumber.touched ||
                    fval.bodabodaCustomerEngineNumber.dirty) &&
                  fval.bodabodaCustomerEngineNumber.errors?.required
                "
              >
                The bodaboda engine number is required!
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="bodabodaCustomerFrontPhotoUrl"
                [ngClass]="fval.bodabodaCustomerFrontPhotoUrl.valid ? 'text-info' : ''"
                >Front Image<i
                  *ngIf="fval.bodabodaCustomerFrontPhotoUrl.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-image text-primary mx-auto"
                      style="size: 50px"
                    ></i>
                  </div>
                </div>
                <input
                  id="bodabodaCustomerFrontPhotoUrl"
                  formControlName="bodabodaCustomerFrontPhotoUrl"
                  type="file"
                  src="image/*"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.bodabodaCustomerFrontPhotoUrl.touched ||
                        fval.bodabodaCustomerFrontPhotoUrl.dirty) &&
                      fval.bodabodaCustomerFrontPhotoUrl.errors
                  }"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.bodabodaCustomerFrontPhotoUrl.touched || fval.bodabodaCustomerFrontPhotoUrl.dirty) &&
                  fval.bodabodaCustomerFrontPhotoUrl.errors?.required
                "
              >
                Please upload a front image of bodaboda!
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="bodabodaCustomerRearPhotoUrl"
                [ngClass]="fval.bodabodaCustomerRearPhotoUrl.valid ? 'text-info' : ''"
                >Rear Image<i
                  *ngIf="fval.bodabodaCustomerRearPhotoUrl.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-image text-primary mx-auto"
                      style="size: 50px"
                    ></i>
                  </div>
                </div>
                <input
                  id="bodabodaCustomerRearPhotoUrl"
                  formControlName="bodabodaCustomerRearPhotoUrl"
                  type="file"
                  src="image/*"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.bodabodaCustomerRearPhotoUrl.touched ||
                        fval.bodabodaCustomerRearPhotoUrl.dirty) &&
                      fval.bodabodaCustomerRearPhotoUrl.errors
                  }"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.bodabodaCustomerRearPhotoUrl.touched || fval.bodabodaCustomerRearPhotoUrl.dirty) &&
                  fval.bodabodaCustomerRearPhotoUrl.errors?.required
                "
              >
              Please upload a rear image of bodaboda!
            </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="bodabodaCustomerTheBodabodaRearPhotoUrl"
                [ngClass]="fval.bodabodaCustomerTheBodabodaRearPhotoUrl.valid ? 'text-info' : ''"
                >Bodaboda Rear Image<i
                  *ngIf="fval.bodabodaCustomerTheBodabodaRearPhotoUrl.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-image text-primary mx-auto"
                      style="size: 50px"
                    ></i>
                  </div>
                </div>
                <input
                  id="bodabodaCustomerTheBodabodaRearPhotoUrl"
                  formControlName="bodabodaCustomerTheBodabodaRearPhotoUrl"
                  type="file"
                  src="image/*"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.bodabodaCustomerTheBodabodaRearPhotoUrl.touched ||
                        fval.bodabodaCustomerTheBodabodaRearPhotoUrl.dirty) &&
                      fval.bodabodaCustomerTheBodabodaRearPhotoUrl.errors
                  }"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.bodabodaCustomerTheBodabodaRearPhotoUrl.touched || fval.bodabodaCustomerTheBodabodaRearPhotoUrl.dirty) &&
                  fval.bodabodaCustomerTheBodabodaRearPhotoUrl.errors?.required
                "
              >
              Please upload a rear image of bodaboda!
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex mt-2 mb-3 pt-0 pb-3 mx-auto">
          <button
            type="submit"
            class="btn btn-info col-5 col-md-3 mx-auto"
            [disabled]="!userForm.valid"
          >
            Back
          </button>

          <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
            <p class="text-light">Please wait...</p>
          </ngx-spinner>

          <label class="col" *ngIf="errored" class="text-danger">
            <i class="material-icons">Cancel</i>

            <ngx-alerts></ngx-alerts>
          </label>

          <label class="col" *ngIf="posted" class="text-info">
            <i class="material-icons">check_circle</i>
            <ngx-alerts></ngx-alerts>
          </label>

          <button
            type="button"
            class="btn btn-info col-5 col-md-3 mx-auto"
            (click)="resetStageNames()"
          >
            Next
          </button>
        </div>
      </form>
    </div>
    <div class="d-flex mt-3 mb-2 mb-xl-0 pt-0 pb-2 pb-xl-0 mx-auto">
      <button
        type="submit"
        class="btn btn-info col-5 col-md-3 mx-auto"
        [disabled]="!userForm.valid"
      >
        Save
      </button>

      <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
        <p class="text-light">Please wait...</p>
      </ngx-spinner>

      <label class="col" *ngIf="errored" class="text-danger">
        <i class="material-icons">Cancel</i>

        <ngx-alerts></ngx-alerts>
      </label>

      <label class="col" *ngIf="posted" class="text-info">
        <i class="material-icons">check_circle</i>
        <ngx-alerts></ngx-alerts>
      </label>

      <button
        type="button"
        class="btn btn-info col-5 col-md-3 mx-auto"
        (click)="resetStageNames()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
