<div
class="container-fluid justify-content-center mb-0 pt-2 pb-1 shadow-lg col-xs-12 col-lg-12"
>
  <div class="jumbotron-fluid mx-0 px-0 mt-1 pt-3 mb-0 pb-0">
      <div class="container mt-2 mx-0 mb-3 shadow-lg">
          <div class="row">
              <div class="col-12">
                  <h3 class="rub-head4 text-info text-center font-weight-bold py-1">
                      Enroll Stage
                  </h3>
              </div>
          </div>
      </div>
      <div class="container my-0 mx-auto px-auto pb-2">
        <div class="d-flex my-0 py-0 mx-auto px-auto">
            <div class="col-12 col-md-12 mx-3 mx-sm-4 mx-md-2 px-auto">
                <a routerLink="enrolltaxistage" class="text-info"><button
    class="btn btn-info col-5 col-md-2 col-xl-1 mx-1 px-2" tooltip="Enroll Taxi Stage"
  >
    Taxi stage
  </button> </a>
                  <a routerLink="enrollbodastage"><button
  class="btn btn-info col-5 col-md-2 col-xl-1 mx-1 px-2" tooltip="Enroll Boda Stage"
>
Boda stage
</button> </a>
              </div>
          </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
