<div class="container-fluid d-flex flex-row justify-content-center mb-0 mt-md-1 pt-0 pt-md-1 pt-xl-0 pb-3 shadow-lg col-xs-12 col-lg-11">
    <div class="jumbotron-fluid mx-0 px-0 mb-0 pb-1 col-md-11 col-xl-9">
        <div class="container mt-3 mt-xl-2 mx-0 shadow-lg col-12">
            <div class="row">
                <div class="col-12">
                    <h3 class="rub-head4 text-info text-center font-weight-bold py-1">
                        Select Town(s) Ready to Operate
                    </h3>
                </div>
            </div>
        </div>
        <div
        class="invest-card card-body mt-2 py-4 mb-5 mx-0 mx-sm-auto px-1 px-lg-auto shadow-lg"
        [hidden]="approvedTowns.length !== 0"
      >
        <div class="row">
          <div class="col-12">
            <h5 class="rub-head4 text-center font-weight-bold py-1">
              There are no towns to select from
            </h5>
          </div>
        </div>
      </div>
        <div class="invest-card card-body mt-2 pt-3 pt-md-4 mb-5 mx-auto pb-4 px-1 px-lg-auto shadow-lg" [hidden]="approvedTowns.length === 0">
            <form [formGroup]="userForm">
                <div class="item-header mb-2">
                    <div class="row">
                        <!--select all items-->
                        <div class="col-1 col-sm-2 ml-0 pl-0 mx-sm-auto px-sm-auto pt-1">
                            <input
                            id="allSelected"
                            formControlName="selectAll"
                            (click)="checkAllItems(!fval.selectAll.value)"
                            type="checkbox"
                            value=""
                            class="ml-4 text-info" tooltip="Select All"
                        />
                        </div>
                        <div class="col-4">
                            <h4 class="text-center text-info">Town ID</h4>
                        </div>
                        <div class="col-6">
                            <h4 class="text-center text-info">Town Name</h4>
                        </div>
                    </div>
                </div>
               <div class="iteration" formArrayName="selectedTowns">
                <div
                    class="item-container mt-1"
                    *ngFor="let items of fval.selectedTowns['controls'];let idx = index"
                >
                    <div class="list-card card mt-1 pt-2 mb-0 mx-auto px-0 pb-0 shadow-lg" [formGroupName]="idx">
                        <div class="list-card-body card-body mt-0 pt-0 mb-0 pb-0 mx-0">
                            <div class="row mt-0 pt-0 mb-0 pb-0">
                                <div class="col-1 ml-0 pl-1">
                                    <!--select an item-->
                                    <input
                                    formControlName="approved"
                                    (click)="deselectAll(idx)"
                                    type="checkbox"
                                    value=""
                                    class="ml-1 text-info"
                                />
                                </div>
                                <div class="col-4 pl-1 text-center">
                                    <span class="itemCreated">
                                        {{fval.selectedTowns["controls"][idx]["controls"].townId.value}}
                                    </span>
                                </div>
                                <div class="col-6 text-center">
                                    <span class="itemCreated">
                                        {{fval.selectedTowns["controls"][idx]["controls"].townName.value}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
                <div class="d-flex mt-3 mb-0 pt-2 pb-2 mx-auto" [hidden]="approvedTowns.length === 0">
                    <button
                    class="btn btn-info col-4 col-md-3 mx-auto px-0"
                    (click)="approveItems()"
                >
                <i class="fas fa-check"></i> Select
                </button>
                <label class="col" *ngIf="errored" class="text-danger">
                    <!-- <i class="material-icons">Cancel</i> -->
          
                    <ngx-alerts></ngx-alerts>
                    </label>
          
                    <label class="col" *ngIf="posted" class="text-info">
                      <!-- <i class="material-icons">check_circle</i> -->
                      <ngx-alerts></ngx-alerts>
                    </label>
                <button
                    class="btn btn-info col-4 col-md-3 mx-auto px-0"
                    (click)="cancelSelection()"
                >
                <i class="fas fa-times"></i> Cancel
                </button>
                </div>
        </div>
    </div>
  </div>
  