<div
  class="container-fluid justify-content-center mb-1 pt-2 pb-2 pb-md-0 shadow-lg col-xs-12 col-lg-12"
>
  <div class="jumbotron-fluid mx-0 px-0 mt-1 pt-3 mb-0 pb-0">
    <div class="container mt-2 mx-0 mb-3 shadow-lg">
      <div class="row">
        <div class="col-12">
          <h2
            class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
          >
             Edit Client
          </h2>
        </div>
      </div>
    </div>
    <div class="container mt-0 pt-0 mx-auto px-auto mb-0 pb-2">
      <div class="d-flex mt-0 mb-0 pt-0 pb-0 mx-auto px-auto">
        <div class="col-12 col-md-12 mx-4 mx-sm-4 mx-md-5 mx-lg-1 px-auto">
          <h5 class="text-center font-weight-2 text-info"> Personal Info is a must and any of the client types</h5>
          <!--a routerLink="editpersonalinfo" class="text-info"
            ><button class="btn btn-info mt-1 mt-sm-0 mx-1 px-3 px-md-4">
              Personal Info
            </button>
          </a>
          <a routerLink="editmicroloanclient"
            ><button
              class="btn btn-info mt-1 mt-sm-0 mx-auto mx-sm-1 px-3 px-md-4"
            >
              Micro Client
            </button>
          </a>
          <a routerLink="editbodaloanclient"
            ><button
              class="btn btn-info mx-2 mx-sm-1 px-3 px-md-4 mt-1 mt-sm-0"
            >
              Boda Client
            </button>
          </a>
          <a routerLink="edittaxiloanclient"
            ><button
              class="btn btn-info mx-2 mx-sm-1 px-3 px-md-4 mt-1 mt-sm-0"
            >
              Taxi Client
            </button>
          </a-->
        </div>
      </div>
    </div>
  </div>
</div>
<app-edit-personal-info></app-edit-personal-info>

<!--footer -->
<div
  class="the-footer d-flex justify-content-center col-xs-12 col-lg-12 mt-3 mt-lg-5 pt-0 pt-lg-5 mb-3 mx-auto"
>
  <div class="small text-center text-info">&copy; 2020 - ThunderBolt</div>
</div>
<!--/ footer -->
