.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  contain: auto;
}

.card-body {
  height: inherit;
  width: 100%;
  max-width: 300px;
  min-width: 260px;
  margin-bottom: 1.5rem;
  border-radius: 8px;
contain: auto;
}

button.btn {
  width: 100% !important;
  border-radius: 15px;
}

.text-info {
  color: #17aae0ee !important
}

a.text-info:focus,
a.text-info:hover {
  color: #48bae4f5 !important
}
.btn-info {
  color: #17aae0ee;
  background-color: transparent;
  border-color: #17aae0ee
}
  .btn-info:hover, .btn-info:focus {
    color: #d9dbdd;
    background-color: #17aae0ee;
    border-color: #17aae0ee
  }
.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 .2rem #0e99ccee
}
.btn-info.disabled,
.btn-info:disabled {
  color: #1b9eceec;
  background-color: transparent;
  border-color: #1b9eceec
}

.pointerCursor {
  cursor: pointer;
}

//styling of color of placeholder
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    rgb(187, 190, 192);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    rgb(187, 190, 192);
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    rgb(187, 190, 192);
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    rgb(187, 190, 192);
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    rgb(187, 190, 192);
}
::placeholder { /* Most modern browsers support this now. */
  color:    rgb(187, 190, 192);
}



//Media queries
@media (min-width: 320px) {
  .jumbotron-fluid {
    margin-bottom: 50px !important;
  }
}


@media (min-width: 360px) {
.card-body {
  max-width: 360px;
  min-width: 330px;
  margin-bottom: 40px !important;
}
.jumbotron-fluid {
  margin-bottom: 70px !important;
}

}


@media (min-width: 375px) {
  .card-body {
    margin-bottom: 60px !important;
  }
  .jumbotron-fluid {
    margin-bottom: 80px !important;
  }

  }


  @media (min-width: 410px) {
    .card-body {
      margin-bottom: 100px !important;
    }
    .jumbotron-fluid {
      padding-top: 15px !important;
      margin-bottom: 80px !important;
    }
      }


      @media (min-width: 440px) {
        .jumbotron-fluid {
          margin-bottom: 80px !important;
        }
      }


      @media (min-width: 568px) {
        .card-body {
          margin-bottom: 0px !important;
        }
        .jumbotron-fluid {
    margin-top: 0px !important;
          margin-bottom: 10px !important;
padding-top: 0px !important
        }
}


@media (min-width: 768px) {
  .jumbotron-fluid {
    margin-bottom: 80px !important;
    padding-top: 70px !important
  }
          .card-body {
            margin-top: 10px !important;
            margin-bottom: 280px !important;
          }
    }


    @media (min-width: 812px) {
      .jumbotron-fluid {
        margin-bottom: 0px !important;
        padding-top: 0px !important
      }
          .card-body {
            margin-bottom: 10px !important;
          }
}


@media (min-width: 1020px) {
  .jumbotron-fluid {
    margin-bottom: 270px !important;
    padding-top: 150px !important
  }
          .card-body {
            margin-top: 10px !important;
            margin-bottom: 280px !important;
            padding-top: 20px !important;
          }
    }


    @media (min-width: 1100px) {
  .card-body {
    margin-bottom: 50px !important;
  }
  .jumbotron-fluid {
    margin-bottom: 40px !important;
  }
}


@media (min-width: 1260px) {
  .card-body {
    margin-bottom: 30px !important;
  }
  .jumbotron-fluid {
    margin-bottom: 80px !important;
    padding-top: 10px !important
  }
}
