<div class="jumbotron-fluid pt-2 mb-0 pb-0 mx-auto px-lg-0">
  <div class="container">
    <div class="row">
      <div class="thunder-col-1 col-6 col-md-3 col-xl-3 mb-4">
        <div class="sm-card-1 card shadow py-0">
          <div class="card-body">
            <div class="row">
              <div class="col mx-0">
                <div class="text-uppercase text-gray font-weight-bold mb-1">
                  <span class="sm-card-title-1">Total Float</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-primary font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].areas}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto align-self-baseline">
                <i class="fas fa-coins fa-2x text-secondary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="thunder-col-2 col-6 col-md-3 col-xl-3 mb-4">
        <div class="sm-card-2 card shadow py-0">
          <div class="card-body">
            <div class="row">
              <div class="col mx-0 px-0">
                <div class="text-uppercase text-gray font-weight-bold mb-1">
                  <span class="sm-card-title-2">Payments</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-primary font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].towns}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto align-self-bottom">
                <i class="fas fa-exchange-alt fa-2x text-secondary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="thunder-col-3 col-6 col-md-3 col-xl-3 mb-4">
        <div class="sm-card-3 card shadow py-0">
          <div class="card-body">
            <div class="row">
              <div class="col mx-0 px-0">
                <div class="text-uppercase text-gray font-weight-bold mb-1">
                  <span class="sm-card-title-3">total Loans</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-primary font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].stations}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto align-self-baseline">
                <i class="fas fa-balance-scale-left fa-2x text-secondary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="thunder-col-4 col-6 col-md-3 col-xl-3 mb-4">
        <div class="sm-card-4 card shadow py-0">
          <div class="card-body">
            <div class="row">
              <div class="col mx-0 px-0">
                <div class="text-uppercase text-gray font-weight-bold mb-1">
                  <span class="sm-card-title-4">total clients</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-primary font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].clients}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto align-self-baseline">
                <i class="fas fa-users fa-2x text-secondary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3 mb-2 mx-0 shadow-lg">
      <div class="row">
        <div class="col-12">
          <h2
            class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
          >
          Today's Status
          </h2>
        </div>
      </div>
    </div>
<div class="components row mt-2 pt-0">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="big-card-1 card shadow-lg mt-1 mt-md-2 mb-3 pb-0">
          <div class="big-card-body-1 card-body px-auto mb-0 pb-0">
            <div class="row">
              <div class="col">
                <div class="text-uppercase text-primary font-weight-bold mb-1">
                  <span class="sm-card-title-3">total no. of stages at the station</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-info font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].stations}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="big-card-1 card shadow-lg mt-2 mb-3 pb-0">
          <div class="big-card-body-1 card-body px-auto mb-0 pb-0">
            <div class="row">
              <div class="col">
                <div class="text-uppercase text-primary font-weight-bold mb-1">
                  <span class="sm-card-title-3">total no. of stages with cooperating c/men</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-info font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].stations}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="big-card-1 card shadow-lg mt-2 mb-3 pb-0">
          <div class="big-card-body-1 card-body px-auto mb-0 pb-0">
            <div class="row">
              <div class="col">
                <div class="text-uppercase text-primary font-weight-bold mb-1">
                  <span class="sm-card-title-3">total no. of stages visited</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-info font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].stations}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="components row mt-2 pt-0">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="big-card-1 card shadow-lg mt-0 mt-md-2 mb-3 pb-0">
          <div class="big-card-body-1 card-body px-auto mb-0 pb-0">
            <div class="row">
              <div class="col">
                <div class="text-uppercase text-primary font-weight-bold mb-1">
                  <span class="sm-card-title-3">total no. of new registered riders</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-info font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].stations}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="big-card-1 card shadow-lg mt-2 mb-3 pb-0">
          <div class="big-card-body-1 card-body px-auto mb-0 pb-0">
            <div class="row">
              <div class="col">
                <div class="text-uppercase text-primary font-weight-bold mb-1">
                  <span class="sm-card-title-3">total no. of riders who took fuel</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-info font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].stations}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="big-card-1 card shadow-lg mt-2 mb-3 pb-0">
          <div class="big-card-body-1 card-body px-auto mb-0 pb-0">
            <div class="row">
              <div class="col">
                <div class="text-uppercase text-primary font-weight-bold mb-1">
                  <span class="sm-card-title-3">total no. of riders who saved with us</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-info font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].stations}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container mt-4 mt-md-5 mb-2 mx-0 shadow-lg">
      <div class="row">
        <div class="col-12">
          <h3
            class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
          >
          Recovery/Enforcement
          </h3>
        </div>
      </div>
    </div>
    <div class="components row mt-2 pt-0">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="big-card-1 card shadow-lg mt-1 mt-md-2 mb-3 pb-0">
          <div class="big-card-body-1 card-body px-auto mb-0 pb-0">
            <div class="row">
              <div class="col">
                <div class="text-uppercase text-primary font-weight-bold mb-1">
                  <span class="sm-card-title-3">total no. of defaulters</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-info font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].stations}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="big-card-1 card shadow-lg mt-2 mb-3 pb-0">
          <div class="big-card-body-1 card-body px-auto mb-0 pb-0">
            <div class="row">
              <div class="col">
                <div class="text-uppercase text-primary font-weight-bold mb-1">
                  <span class="sm-card-title-3">total no. of debts recovered in the day</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-info font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].stations}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="big-card-1 card shadow-lg mt-2 mb-3 pb-0">
          <div class="big-card-body-1 card-body px-auto mb-0 pb-0">
            <div class="row">
              <div class="col">
                <div class="text-uppercase text-primary font-weight-bold mb-1">
                  <span class="sm-card-title-3">total no. of riders who paid in full</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-info font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].stations}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="components row mt-2 pt-0">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="big-card-1 card shadow-lg mt-0 mt-md-2 mb-3 pb-0">
          <div class="big-card-body-1 card-body px-auto mb-0 pb-0">
            <div class="row">
              <div class="col">
                <div class="text-uppercase text-primary font-weight-bold mb-1">
                  <span class="sm-card-title-3">total no. of riders who paid in installments</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-info font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].stations}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="big-card-1 card shadow-lg mt-2 mb-3 pb-0">
          <div class="big-card-body-1 card-body px-auto mb-0 pb-0">
            <div class="row">
              <div class="col">
                <div class="text-uppercase text-primary font-weight-bold mb-1">
                  <span class="sm-card-title-3">total amount recovered</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-info font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].stations}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="big-card-1 card shadow-lg mt-2 mb-3 pb-0">
          <div class="big-card-body-1 card-body px-auto mb-0 pb-0">
            <div class="row">
              <div class="col">
                <div class="text-uppercase text-primary font-weight-bold mb-1">
                  <span class="sm-card-title-3">total no. of pre-covid defaulters</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-info font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].stations}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--footer -->
<div
  class="d-flex justify-content-center col-xs-12 col-lg-12 mt-3 mb-3 mx-auto"
>
  <div class="small text-center text-info">&copy; 2020 - ThunderBolt</div>
</div>
<!--/ footer -->
