.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.card-body {
  width: 100%;
  height: auto;
  border-radius: 8px;
  contain: auto;
}

.invest-card {
  height: auto;
  margin-bottom: 20px !important;
}
.iteration {
  height: auto;
  min-height: 45px;
  max-height: 380px;
  overflow-y: auto;
}

.item-container {
  min-height: 35px !important;
}

.list-card {
  height: auto !important;
  border-left: 3px solid #adabab
}
.list-card:hover {
  border-left: 3px solid #17aae0
}
.list-card-body {
  width: 100%;
}
.img-circle{
  width: 22px;
  height: 22px;
}
.text-dark span{
  color: #124472
}
.text-dark span:hover,.text-dark span:focus{
  color: #17aae0
}



//media queries
@media (min-width: 320px) {
  .card-body {
      padding-top: 4px;
      margin-bottom: 5px !important;
  }
  .jumbotron-fluid {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
  }
.modal-img{
  width: 100px;
  height: 100px;
}
.modal-img-2{
  width: 70px;
  height: 30px;
  border-radius: 9px;
}
}

@media (min-width: 360px) {
.modal-img{
  width: 120px;
  height: 120px;
}
.modal-img-2{
  width: 90px;
  height: 40px;
}
}

@media (min-width: 375px) {
.modal-img-2{
  width: 90px;
  height: 40px;
}
}

@media (min-width: 410px) {
.iteration {
  max-height: 430px;
}
}

@media (min-width: 445px) {
}

@media (min-width: 568px) {}

@media (min-width: 640px) {
  .container {
      margin-left: auto !important;
      margin-right: auto !important;
  }
.img-circle{
  width: 55px;
  height: 55px;
}

}

@media (min-width: 768px) {
  .container {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
  .jumbotron-fluid {
      padding-bottom: 1rem !important;
  }
.iteration {
  max-height: 720px;
}
.img-circle{
  width: 50px;
  height: 50px;
}
.modal-img{
  width: 200px;
  height: 200px;
}
.modal-img-2{
  width: 140px;
  height: 60px;
  border-radius: 9px;
}

}

@media (min-width: 812px) {
  .jumbotron-fluid {
      padding-top: 0px !important;
      padding-bottom: 5px !important;
  }
}

@media (min-width: 1024px) {
  .jumbotron-fluid {
      padding-bottom: 2rem !important;
  }
.iteration {
  max-height: 1040px;
}
}

@media (min-width: 1100px) {
    .jumbotron-fluid {
      padding-bottom: .4rem !important;
  }
.iteration {
  max-height: 380px;
}
.modal-img{
  width: 200px;
  height: 200px;
}
.modal-img-2{
  width: 160px;
  height: 90px;
  border-radius: 9px;
}

}

@media (min-width: 1280px) {
  .container {
      margin-left: auto !important;
      margin-right: auto !important;
  }
}

@media (min-width: 1320px) {}
