<div
  class="container-fluid d-flex flex-row justify-content-center mb-0 mt-md-1 pt-0 pt-md-1 pt-xl-0 pb-3 px-0 px-sm-2 shadow-lg col-xs-12 col-lg-11"
>
  <div class="jumbotron-fluid mx-0 px-0 mb-0 pb-1 col-md-11">
    <div class="container mt-2 mx-0 shadow-lg col-12">
      <div class="row">
        <div class="col-12">
          <h3
            class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
          >
            Verify {{currentCustomer}} Clients
          </h3>
        </div>
          <div class="col-12 mx-0 px-1">
            <a class="text-info mb-1">
              <button class="btn btn-info mb-1 mx-1 px-auto px-lg-4" tooltip="Get Boda Fuel Customers" (click)="getBodaCustomers()">
                Boda Fuel Customers
              </button>
            </a>
            <a class="text-info mb-1">
              <button class="btn btn-info mb-1 mx-1 px-auto px-lg-4" tooltip="Get Taxi Fuel Customers" (click)="getTaxiCustomers()">
                Taxi Fuel Customers
              </button>
            </a>
            <a class="text-info mb-1">
              <button class="btn btn-info mb-1 mx-1 px-auto px-lg-4" tooltip="Get Taxi Fuel Customers" (click)="getMicroCustomers()">
                Micro Loan Customers
              </button>
            </a>
            <a class="text-info mb-1">
              <button class="btn btn-info mb-1 mx-1 px-auto px-lg-4" tooltip="Get Savings Customers" (click)="getSavingsCustomers()">
                Savings Customers
              </button>
            </a>
        </div>
      </div>
    </div>
  <div
      class="invest-card card-body mt-2 pt-3 pt-md-4 mb-5 mx-0 mx-sm-auto pb-4 px-1 px-lg-auto shadow-lg"
    [hidden]="(customers.length > 0)"
    >
    <div class="row">
      <div class="col-12">
        <h3
          class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
        >
          There are no {{currentCustomer}} Clients to verify
        </h3>
      </div>
    </div>
  </div>
    <div
      class="invest-card card-body mt-2 pt-3 pt-md-4 mb-5 mx-0 mx-sm-auto pb-4 px-1 px-lg-auto shadow-lg"
    [hidden]="(customers.length === 0)"
    >
      <form [formGroup]="userForm">
        <div class="item-header mb-2">
          <div class="row">
            <!--select all items-->
            <div class="col-12 ml-0 pl-0 mx-sm-auto px-sm-auto pt-1">
              <input
                id="allSelected"
                formControlName="selectAll"
                (click)="checkAllItems(!fval.selectAll.value)"
                type="checkbox"
                value=""
                class="ml-4 text-info"
                tooltip="Select All"
              />
              Select All
            </div>
          </div>
        </div>
        <div class="iteration" formArrayName="customers">
          <div
            class="item-container mt-1"
            *ngFor="
              let items of fval.customers['controls'];
              let idx = index
            "
          >
            <div
              class="list-card card mt-1 pt-2 mb-0 mx-auto px-0 pb-0 shadow-lg"
              [formGroupName]="idx"
            >
              <div class="list-card-body card-body mt-0 pt-0 mb-0 pb-0 mx-0">
                <div class="row my-0 py-0">
                  <div class="col-1 ml-0 pl-1">
                    <!--select an item-->
                    <input
                      formControlName="approved"
                      (click)="deselectAll(idx)"
                      type="checkbox"
                      value=""
                      class="ml-1 text-info"
                    />
                  </div>
                  <div class="col-2 col-md-3">
                    <img
                      class="img-circle mx-auto mt-2 mt-md-0 mt-xl-1 mb-1 pb-0"
                      [src]="fval.customers['controls'][idx]['controls'].customerPhotoUrl.value"
                      (click)="openModal2(template, fval.customers['controls'][idx]['controls'].customerPhotoUrl.value)"
                    />
                  </div>
                  <div class="col-9 col-md-8">
                    <div class="row">
                      <div class="col-5 col-sm-4 d-flex justify-content-start">
                        <span class="">Client</span>
                      </div>
                      <div
                        class="col-7 col-sm-5 d-flex justify-content-start font-weight-bold"
                      >
                        <span class="itemCreated">
                          {{
                            fval.customers["controls"][idx]["controls"].customerName.value
                          }}
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5 col-sm-4 d-flex justify-content-start">
                        <span class="">Station</span>
                      </div>
                      <div
                        class="col-7 col-sm-5 d-flex justify-content-start font-weight-bold"
                      >
                        <span class="itemCreated">
                          {{
                            fval.customers["controls"][idx]["controls"].station.value
                          }}
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5 col-sm-4 d-flex justify-content-start">
                        <span class="">Phone No.</span>
                      </div>
                      <div
                        class="col-7 col-sm-5 d-flex justify-content-start font-weight-bold"
                      >
                        <span class="itemCreated">
                          {{
                            fval.customers["controls"][idx]["controls"].customerPhone1.value
                          }}
                        </span>
                      </div>
                    <!-- </div>
                    <div class="row"> -->
                      <div
                        class="col-12 col-md-3 d-flex justify-content-end font-weight-bold"
                      >
                        <a class="text-dark pointerCursor">
                          <span
                            class="itemCreated"
                            (click)="openModal(clientdetails, fval.customers['controls'][idx]['controls'].customerId.value)"
                            >Details
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="d-flex mt-3 mb-0 py-2 mx-auto">
        <button
          class="btn btn-info col-4 col-md-2 mx-auto px-0"
          (click)="approveItems()"
        >
          <i class="fas fa-check"></i> Approve
        </button>

        <label class="col" *ngIf="errored" class="text-danger">
          <!-- <i class="material-icons">Cancel</i> -->

          <ngx-alerts></ngx-alerts>
        </label>

        <label class="col" *ngIf="posted" class="text-info">
          <!-- <i class="material-icons">check_circle</i> -->
          <ngx-alerts></ngx-alerts>
        </label>
        <button
          class="btn btn-info col-4 col-md-2 mx-auto px-0"
          (click)="rejectItems()"
        >
          <i class="fas fa-times"></i> Reject
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header bg-info">
    <h4 class="modal-title text-white">Client's Image</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-12 d-flex justify-content-center">
      <pinch-zoom>
        <img
          class="modal-img img-circle mx-auto mt-3 mt-md-2 mb-1 pb-0"
          [src]="imageUrl"
        />
      </pinch-zoom>
    </div>
  </div>
</ng-template>
<ng-template #clientdetails>
  <div class="modal-header bg-info">
    <h4 class="modal-title text-white">Client's Details</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <div
      class="list-card card mt-1 pt-1 mb-0 mx-auto px-0 pb-0 shadow-lg"
      [formGroupName]="idx"
    > -->
    <div
      class="list-card card mt-1 pt-1 mb-0 mx-auto px-0 pb-0 shadow-lg"
    >
      <div class="list-card-body card-body my-0 py-0 mx-0">
        <div class="row my-0 py-0">
          <div class="col-12">
            <h5 class="rub-head4 text-info text-center font-weight-bold py-1">
              Personal Information
            </h5>
          </div>
        </div>
        <div class="row my-0 py-0">
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">D.O.B</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated">{{data.customerDateOfBirth}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Residence</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated"> {{data.customerHomeAreaDetails}} </span>
              </div>
            </div>
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Phone No.2</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated"> {{data.customerPhone2}} </span>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">ID Type</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="" >
                  <span class="itemCreated">{{data.customerIdType}}</span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">ID Number</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="">
                  <span class="itemCreated"> {{data.customerIdNumber}} </span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Comment</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="">
                  <span class="itemCreated">{{data.customerComment}} </span>
                </a>
              </div>
            </div>
        <div class="row my-0 py-0">
          <div
            class="col-6 d-flex flex-column justify-content-center mx-auto my-0 pt-1 pb-0"
          >
            <pinch-zoom class="d-flex justify-content-center">
              <img
                class="modal-img-2 mx-auto my-0 pb-0"
                [src]="data.customerPhotoUrl"
              />
            </pinch-zoom>
            <p class="text-capitalize text-center">Passport photo</p>
          </div>
          <div
            class="col-6 d-flex flex-column justify-content-center mx-auto my-0 pt-1 pb-0"
          >
            <pinch-zoom class="d-flex justify-content-center">
              <img
                class="modal-img-2 mx-auto my-0 pb-0"
                [src]="data.customerIdPhotoUrl"
              />
            </pinch-zoom>
            <p class="text-capitalize text-center">ID image</p>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="list-card card mt-2 pt-1 mb-0 mx-auto px-0 pb-0 shadow-lg"
      [hidden]="(currentCustomer !== 'BodaBoda Fuel')"
    >
      <div class="list-card-body card-body my-0 py-0 mx-0">
        <div class="row my-0 py-0">
          <div class="col-12">
            <h5 class="rub-head4 text-info text-center font-weight-bold py-1">
              Bodaboda Client Information
            </h5>
          </div>
        </div>
        <div class="row my-0 py-0">
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Number Plate</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated">{{data.bodabodaCustomerNumberPlate}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Bodaboda Make</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated">{{data.bodabodaCustomerMakeOrType}} </span>
              </div>
            </div>
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Insurance</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated">{{data.bodabodaCustomerInsurance}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Stage</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="">
                  <span class="itemCreated"> {{data.fkBodabodaStageIdBodabodaCustomer}} </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <!--stage start date-->
                <span class="">Start date</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="">
                  <span class="itemCreated"> {{data.bodabodaCustomerDateOfJoinStage}} </span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Ownership</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="">
                  <span class="itemCreated"> {{data.bodabodaOwnershipStatus}} </span>
                </a>
              </div>
            </div>
            <div class="row" *ngIf="data.bodabodaOwnershipStatus !== 'PAIDOUT'">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Owner Name</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="" >
                  <span class="itemCreated"> {{data.bodabodaCustomerOwnersName}}</span>
                </a>
              </div>
            </div>
            <div class="row" *ngIf="data.bodabodaOwnershipStatus !== 'PAIDOUT'">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Owner PhoneNo.</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="">
                  <span class="itemCreated"> {{data.bodabodaCustomerOwnersPhone}} </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-0 py-0">
          <div
            class="col-6 col-sm-4 d-flex flex-column justify-content-center mx-auto my-0 pt-1 pb-0"
          >
            <pinch-zoom class="d-flex justify-content-center">
              <img
                class="modal-img-2 mx-auto my-0 pb-0"
                [src]="data.bodabodaCustomerFrontPhotoUrl"
              />
            </pinch-zoom>
            <p class="text-capitalize text-center">front image</p>
          </div>
          <div
            class="col-6 col-sm-4 d-flex flex-column justify-content-center mx-auto my-0 pt-1 pb-0"
          >
            <pinch-zoom class="d-flex justify-content-center">
              <img
                class="modal-img-2 mx-auto my-0 pb-0"
                [src]="data.bodabodaCustomerSidePhotoUrl"
              />
            </pinch-zoom>
            <p class="text-capitalize text-center">side image</p>
          </div>
          <div
            class="col-6 col-sm-4 d-flex flex-column justify-content-center mx-auto my-0 pt-1 pb-0"
          >
            <pinch-zoom class="d-flex justify-content-center">
              <img
                class="modal-img-2 mx-auto my-0 pb-0"
                [src]="data.bodabodaCustomerRearPhotoUrl"
              />
            </pinch-zoom>
            <p class="text-capitalize text-center">rear image</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="list-card card mt-2 pt-1 mb-0 mx-auto px-0 pb-0 shadow-lg"
      [hidden]="(currentCustomer !== 'Taxi Fuel')"
      >
      <div class="list-card-body card-body my-0 py-0 mx-0">
        <div class="row my-0 py-0">
          <div class="col-12">
            <h5 class="rub-head4 text-info text-center font-weight-bold py-1">
              Taxi Client Information
            </h5>
          </div>
        </div>
        <div class="row my-0 py-0">
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Driving Permit</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated"> {{data.taxiCustomerDrivingPermitNumber}} </span>
              </div>
            </div>
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Number Plate</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated"> {{data.taxiCustomerNumberPlate}} </span>
              </div>
            </div>
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Taxi Make</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated"> {{data.taxiCustomerMakeOrType}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Insurance</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated">  {{data.taxiCustomerInsurance}} </span>
              </div>
            </div>
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Stage</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="">
                  <span class="itemCreated">  {{data.fkTaxiStageIdTaxiCustomer}} </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <!--stage start date-->
                <span class="">Start date</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="">
                  <span class="itemCreated">  {{data.taxiCustomerDateOfJoinStage}} </span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Ownership</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="">
                  <span class="itemCreated"> {{data.taxiCustomerOwnershipStatus}}</span>
                </a>
              </div>
            </div>
            <div class="row"  *ngIf="data.taxiCustomerOwnershipStatus !== 'PAIDOUT'">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Owner Name</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="">
                  <span class="itemCreated">  {{data.taxiCustomerOwnersName}}</span>
                </a>
              </div>
            </div>
            <div class="row" *ngIf="data.taxiCustomerOwnershipStatus !== 'PAIDOUT'">
              <div class="col-5 d-flex justify-content-sm-start">
                <span class="">Owner PhoneNo.</span>
              </div>
              <div
                class="col-7 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="">
                  <span class="itemCreated">  {{data.taxiCustomerOwnersPhone}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-0 py-0">
          <div
            class="col-6 col-sm-4 d-flex flex-column justify-content-center mx-auto my-0 pt-1 pb-0"
          >
            <pinch-zoom class="d-flex justify-content-center">
              <img
                class="modal-img-2 mx-auto my-0 pb-0"
                [src]=" data.taxiCustomerFrontPhotoUrl"
              />
            </pinch-zoom>
            <p class="text-capitalize text-center">front image</p>
          </div>
          <div
            class="col-6 col-sm-4 d-flex flex-column justify-content-center mx-auto my-0 pt-1 pb-0"
          >
            <pinch-zoom class="d-flex justify-content-center">
              <img
                class="modal-img-2 mx-auto my-0 pb-0"
                [src]=" data.taxiCustomerSidePhotoUrl"
              />
            </pinch-zoom>
            <p class="text-capitalize text-center">side image</p>
          </div>
          <div
            class="col-6 col-sm-4 d-flex flex-column justify-content-center mx-auto my-0 pt-1 pb-0"
          >
            <pinch-zoom class="d-flex justify-content-center">
              <img
                class="modal-img-2 mx-auto my-0 pb-0"
                [src]=" data.taxiCustomerRearPhotoUrl"
              />
            </pinch-zoom>
            <p class="text-capitalize text-center">rear image</p>
          </div>
        </div>
      </div>
    </div>
  <div
      class="list-card card mt-2 pt-1 mb-0 mx-auto px-0 pb-0 shadow-lg"
      [hidden]="(currentCustomer !== 'Micro Loan')"
      >
      <div class="list-card-body card-body my-0 py-0 mx-0">
        <div class="row my-0 py-0">
          <div class="col-12">
            <h5 class="rub-head4 text-info text-center font-weight-bold py-1">
              Micro Client Information
            </h5>
          </div>
        </div>
        <div class="row my-0 py-0">
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-6 d-flex justify-content-sm-start">
                <span class="">Loan Purpose</span>
              </div>
              <div
                class="col-6 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated">{{data.microloanCustomerLoanPurpose}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-6 d-flex justify-content-sm-start">
                <span class="">Current Business</span>
              </div>
              <div
                class="col-6 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated">{{data.microloanCustomerCurrentBusinessType}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-6 d-flex justify-content-sm-start">
                <span class="">Business Location</span>
              </div>
              <div
                class="col-6 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated">{{data.microloanCustomerCurrentBusinessLocation}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-6 d-flex justify-content-sm-start">
                <span class="">Ave. Daily Expenses</span>
              </div>
              <div
                class="col-6 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated"> {{data.microloanCustomerAverageDailyExpenses | currency: 'UGX '}}</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-6 d-flex justify-content-sm-start">
                <span class="">Ave. Daily Income</span>
              </div>
              <div
                class="col-6 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="">
                  <span class="itemCreated"> {{data.microloanCustomerAverageDailyIncome | currency: 'UGX '}} </span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-6 d-flex justify-content-sm-start">
                <!--stage start date-->
                <span class="">Current Residence</span>
              </div>
              <div
                class="col-6 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="">
                  <span class="itemCreated"> {{data.microloanCustomerCurrentResidence}} </span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-6 d-flex justify-content-sm-start">
                <span class="">Residence Status</span>
              </div>
              <div
                class="col-6 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="">
                  <span class="itemCreated">{{data.microloanCustomerResidenceStatus}}</span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-6 d-flex justify-content-sm-start">
                <span class="">No. of Dependants</span>
              </div>
              <div
                class="col-6 d-flex justify-content-sm-start font-weight-bold"
              >
                <a class="" >
                  <span class="itemCreated">{{data.microloanCustomerNumberOfDependants}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-0 py-0">
          <div
            class="col-6 col-sm-4 d-flex flex-column justify-content-center mx-auto my-0 pt-1 pb-0"
          >
            <pinch-zoom class="d-flex justify-content-center">
              <img
                class="modal-img-2 mx-auto my-0 pb-0"
                src="https://homepages.cae.wisc.edu/~ece533/images/baboon.png"
              />
            </pinch-zoom>
            <p class="text-capitalize text-center">Security 1</p>
          </div>
          <div
            class="col-6 col-sm-4 d-flex flex-column justify-content-center mx-auto my-0 pt-1 pb-0"
          >
            <pinch-zoom class="d-flex justify-content-center">
              <img
                class="modal-img-2 mx-auto my-0 pb-0"
                src="https://homepages.cae.wisc.edu/~ece533/images/baboon.png"
              />
            </pinch-zoom>
            <p class="text-capitalize text-center">Security 2</p>
          </div>
          <div
            class="col-6 col-sm-4 d-flex flex-column justify-content-center mx-auto my-0 pt-1 pb-0"
          >
            <pinch-zoom class="d-flex justify-content-center">
              <img
                class="modal-img-2 mx-auto my-0 pb-0"
                src="https://homepages.cae.wisc.edu/~ece533/images/baboon.png"
              />
            </pinch-zoom>
            <p class="text-capitalize text-center">Security 3</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="list-card card mt-2 pt-1 mb-0 mx-auto px-0 pb-0 shadow-lg"
      [hidden]="(currentCustomer !== 'Savings')"
      >
      <div class="list-card-body card-body my-0 py-0 mx-0">
        <div class="row my-0 py-0">
          <div class="col-12">
            <h5 class="rub-head4 text-info text-center font-weight-bold py-1">
              Savings Client Information
            </h5>
          </div>
        </div>
        <div class="row my-0 py-0">
          <div class="col-12">
            <div class="row">
              <div class="col-6 d-flex justify-content-sm-start">
                <span class="">Monthly Income</span>
              </div>
              <div
                class="col-6 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated">{{data.savingsCustomerMonthlyIncome | currency: 'UGX '}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-6 d-flex justify-content-sm-start">
                <span class="">Withdraw Frequency</span>
              </div>
              <div
                class="col-6 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated">{{data.savingsCustomerWithdrawFreequency}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-6 d-flex justify-content-sm-start">
                <span class="">Customer's Target</span>
              </div>
              <div
                class="col-6 d-flex justify-content-sm-start font-weight-bold"
              >
                <span class="itemCreated">{{data.savingsCustomerTarget}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-info col-3 col-xl-2 pull-right"
      (click)="modalRef.hide()"
    >
      Ok
    </button>
  </div>
</ng-template>
