.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.card-body {
  width: 100%;
  height: auto;
}

.big-card-4 {
  position: relative;
height: 250px !important;
    margin-bottom: 20px !important;
    contain: auto;
}
.big-card-body-4 {
  width: 100%;
  height: auto;
}
.big-card-3 {
  position: relative;
height: 290px !important;
    margin-bottom: 20px !important;
    contain: auto;
}
.big-card-body-3 {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
    padding-bottom: 10px;
}
.big-card-1 {
  position: relative;
  height: auto;
  min-height: 150px !important;
  max-height: 220px !important;
    contain: auto;
}
.big-card-body-1 {
  margin-left: 3.6rem !important;
  margin-right: 3.6rem !important;
  align-items: center;
}

.big-card-2 {
  position: relative;
  height: auto;
    contain: auto;
}

.iteration {
  height: auto;
  min-height: 90px;
  max-height: 170px;
  overflow-y: auto;
}

.item-container {
  position: relative;
  min-height: 35px;
}

.list-card {
  position: relative;
  width: 100%;
  height: 100% !important;
  margin-left: -5px !important;
  margin-right: 0px !important;
    contain: auto;
}
.list-card-3 {
  position: relative;
  height: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
    contain: auto;
}
.list-card-4 {
  position: relative;
  height: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
    contain: auto;
}
.list-card-body-4 {
  width: 100%;
}

.list-card2 {
  position: relative;
  height: auto;
  margin-left: -5px !important;
    contain: auto;
}
.levelSet {
  position: relative;
  margin-left: 50px !important;
  margin-right: 10px !important;
}
.itemCreated {
  position: relative;
  margin-left: 5px !important;
}

.pointerCursor {
  cursor: pointer;
}



//media queries
@media (min-width: 320px) {
  .card-body {
    padding-top: 4px;
  }
}

@media (min-width: 360px) {
  .list-card {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.list-card2 {
  margin-left: 0px !important;
    margin-bottom: 0px !important;
.list-card-3 {
  margin-left: 0px !important;
    margin-bottom: 0px !important;
}
.list-card-4 {
  margin-left: 0px !important;
    margin-bottom: 0px !important;
}
}
.levelSet {
  margin-left: 60px !important;
}
}

@media (min-width: 375px) {
.big-card-body-1 {
  margin-left: 4.0rem !important;
  margin-right: 4.0rem !important;
}
}

@media (min-width: 410px) {
.big-card-body-1 {
  margin-left: 4.6rem !important;
  margin-right: 4.6rem !important;
}
.levelSet {
  margin-left: 60px !important;
}
}

@media (min-width: 445px) {
.big-card-1 {
  min-height: 170px !important;
  max-height: 230px !important;
}
.big-card-body-1 {
  margin-left: 7.3rem !important;
  margin-right: 7.3rem !important;
}
.itemCreated-3 {
  position: relative;
  margin-left: 30px !important;
}
.levelSet {
  margin-left: 100px !important;
}
.itemCreated {
  margin-left: 1.3rem !important;
}
}

@media (min-width: 568px) {
.big-card-1 {
  min-height: 180px !important;
  max-height: 250px !important;
}
.big-card-body-1 {
  margin-left: 7.0rem !important;
  margin-right: 7.0rem !important;
}
.levelSet {
  margin-left: 110px !important;
}
}

@media (min-width: 640px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
.big-card-body-1 {
  margin-left: 7.3rem !important;
  margin-right: 7.3rem !important;
}
}

@media (min-width: 768px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
.big-card-body-1 {
  margin-left: 13.3rem !important;
  margin-right: 13.3rem !important;
}
.big-card-body-1 img{
  position: relative;
  width: 30%;
height: 30%;
}
.itemCreated-1 {
  position: relative;
  margin-left: 0px;
}
.itemCreated-2 {
  position: relative;
  margin-left: -3px !important;
}
.itemCreated-3 {
  margin-left: 4.8rem !important
}
.levelSet {
  margin-left: 10.6rem !important;
}
.itemCreated {
  margin-left: 4.8rem !important;
}
}

@media (min-width: 812px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
.big-card-body-1 {
  margin-left: 14.2rem !important;
  margin-right: 14.2rem !important;
}
.itemCreated-3 {
  margin-left: 5.4rem !important
}
.levelSet {
  margin-left: 10.8rem !important;
}
.itemCreated {
  margin-left: 5.4rem !important;
}
}

@media (min-width: 1024px) {
  .big-card-3 {
height: 290px !important;
}
  .big-card-4 {
height: 290px !important;
}

.big-card-body-1 {
  margin-left: 2.2rem !important;
  margin-right: 2.2rem !important;
}
.big-card-body-1 img{
  width: 72%;
height: 72%;
}
.itemCreated-3 {
  margin-left: 4.4rem !important
}
.levelSet {
  margin-left: 9.8rem !important;
}
.itemCreated {
  margin-left: 2.8rem !important;
}
}

@media (min-width: 1100px) {
}

@media (min-width: 1280px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
.big-card-1 {
  min-height: 160px !important;
  max-height: 220px !important;
}
.big-card-body-1 {
  margin-left: 4.8rem !important;
  margin-right: 4.8rem !important;
}
.big-card-body-1 img{
  width: 46.5%;
height: 46.5%;
}
  .big-card-3 {
height: 240px !important;
}
  .big-card-4 {
height: 240px !important;
  }
.itemCreated-3 {
  margin-left: 2.5rem !important
}
.levelSet {
  margin-left: 8rem !important;
}
.itemCreated {
  margin-left: 3.8rem !important;
}
}


@media (min-width: 1320px) {
}
