.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  margin-right: 0px !important;
}

.card-body {
  width: 100%;
  height: auto;
  max-width: 370px;
  min-width: 260px;
  border-radius: 8px;
  contain: auto;
}

.btn {
  border-radius: 15px;
}

.text-info {
  color: #17aae0ee !important;
}

a.text-info:focus,
a.text-info:hover {
  color: #48bae4f5 !important;
}

.btn-info {
  color: #17aae0ee;
  background-color: transparent;
  border-color: #17aae0ee;
}

.btn-info:hover,
.btn-info:focus {
  color: #d9dbdd;
  background-color: #17aae0ee;
  border-color: #17aae0ee;
}

.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 0.2rem #0e99ccee;
}

.btn-info.disabled,
.btn-info:disabled {
  color: #1b9eceec;
  background-color: transparent;
  border-color: #1b9eceec;
}

.pointerCursor {
  cursor: pointer;
}



//media queries
@media (min-width: 320px) {
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: .65rem !important;
  }
}

@media (min-width: 360px) {
  .card-body {
    max-width: 360px;
    min-width: 345px;
    padding-top: 1.1rem !important;
    margin-bottom: .6rem !important;
  }
  .jumbotron-fluid {
    padding-bottom: 0px !important;
  }
}

@media (min-width: 375px) {
  .card-body {
    max-width: 370px;
    min-width: 345px;
    margin-bottom: .65rem !important;
  }
}

@media (min-width: 410px) {
  .card-body {
    margin-bottom: 1.8rem !important;
  }
  .jumbotron-fluid {
    padding-top: 1.1rem !important;
    padding-bottom: 1.8rem !important;
  }
}

@media (min-width: 445px) {
  .card-body {
    max-width: 410px;
    min-width: 350px;
  }
  .jumbotron-fluid {
    padding-top: 1.1rem !important;
    padding-bottom: .8rem !important;
  }
}

@media (min-width: 568px) {
  .card-body {
    margin-bottom: 0rem !important;
  }
  .jumbotron-fluid {
    padding-bottom: .8rem !important;
  }
}

@media (min-width: 640px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 768px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .card-body {
    margin-bottom: 6rem !important;
  }
  .jumbotron-fluid {
    padding-bottom: 10rem !important;
  }
}

@media (min-width: 812px) {
  .card-body {
    margin-bottom: 0rem !important;
  }
  .jumbotron-fluid {
    padding-bottom: 1rem !important;
  }
}

@media (min-width: 1024px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .card-body {
    margin-bottom: 9rem !important;
  }
  .jumbotron-fluid {
    padding-bottom: 20rem !important;
  }
}

@media (min-width: 1100px) {
}

@media (min-width: 1280px) {
  .card-body {
    margin-bottom: .4rem !important;
  }
  .jumbotron-fluid {
    padding-top: .3rem !important;
    padding-bottom: 1rem !important;
  }
}

@media (min-width: 1320px) {
}
