.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  margin-right: 0px !important;
}

.card-body {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  contain: auto;
}

.big-card-1 {
  height: 310px !important;
  margin-bottom: 0px !important;
  contain: auto;
}
.big-card-body-1 {
height: 100% !important;
margin-bottom: 0px !important;
}

.big-card-1b {
  height: 220px !important;
  margin-bottom: 0px !important;
  contain: auto;
}

.big-card-body-1b {
height: auto !important;
margin-bottom: 0px !important;
overflow-y: auto;
}

.big-card-2 {
height: 190px !important;
margin-bottom: 0px !important;
contain: auto;
}
.big-card-body-2 {
height: 100% !important;
margin-bottom: 0px !important;
}

.big-card-3 {
height: 250px !important;
margin-bottom: 0px !important;
contain: auto;
}
.big-card-body-3 {
height: 100% !important;
margin-bottom: 0px !important;
overflow-y: hidden;
}

.big-card-4 {
height: 250px !important;
margin-bottom: 0px !important;
contain: auto;
}
.big-card-body-4 {
height: 100% !important;
margin-bottom: 0px !important;
overflow-y: hidden;
}

.item-container {
  min-height: 30px !important;
  contain: auto;
}

.list-card {
  height: auto !important;
  contain: auto;
}
.list-card:hover, .list-card:focus {
border-color: #17aee0
}

.list-card-2 {
  height: auto !important;
  contain: auto;
}

.btn {
  border-radius: 15px;
}

.text-gray {
  color: #f7f5f5;
}

a.text-info:focus,
a.text-info:hover {
  color: #48bae4f5 !important
}

.btn-info {
  color: #17aae0ee;
  background-color: transparent;
  border-color: #17aae0ee
}

.btn-info:hover,
.btn-info:focus {
  color: #d9dbdd;
  background-color: #17aae0ee;
  border-color: #17aae0ee
}

.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 .2rem #0e99ccee
}

.btn-info.disabled,
.btn-info:disabled {
  color: #1b9eceec;
  background-color: transparent;
  border-color: #1b9eceec
}

.pointerCursor {
  cursor: pointer;
}

.sm-card-1 {
  background-image: linear-gradient(to bottom right, rgb(168, 18, 106, 1), rgba(189, 192, 194, 0.7));
  border: 0rem;
}

.sm-card-2 {
  background-image: linear-gradient(to bottom right, rgba(19, 153, 206, 0.97), rgba(189, 192, 194, 0.7));
  border: 0rem;
}

.sm-card-3 {
  background-image: linear-gradient(to bottom right, rgb(168, 18, 106, 1), rgba(189, 192, 194, 0.7));
  border: 0rem;
}

.sm-card-4 {
  background-image: linear-gradient(to bottom right, rgba(19, 153, 206, 0.97), rgba(189, 192, 194, 0.7));
  border: 0rem;
}

.fas{
  font-size: 1.0rem;
}



//media queries
@media (min-width:360px) {
  .thunder-col-1 {
      margin-bottom: 5px !important;
  }
  .thunder-col-2 {
      padding-left: 0px !important;
      margin-bottom: 5px !important;
  }
  .thunder-col-3 {
      margin-bottom: 5px !important;
  }
  .thunder-col-4 {
      padding-left: 0px !important;
      margin-bottom: 5px !important;
  }
  .sm-card-1 {
      padding-left: 2px !important;
      padding-right: 2px !important;
  }
  .sm-card-2 {
      padding-left: 2px !important;
      padding-right: 2px !important;
  }
  .sm-card-title-2 {
      font-size: 11px !important;
      margin-left: 0px !important;
      padding-left: 3px !important;
      padding-right: 0px !important;
  }
  .sm-card-3 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .sm-card-title-3 {
      font-size: 11px !important;
      margin-left: 0px !important;
      padding-left: 2px !important;
      padding-right: 0px !important;
  }
  .sm-card-4 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .sm-card-title-4 {
      font-size: 11px !important;
      margin-left: 0px !important;
      padding-left: 2px !important;
      padding-right: 0px !important;
  }
  .components {
      margin-top: 8px !important;
  }
}

@media (min-width:375px) {}

@media (min-width:411px) {
}

@media (min-width:445px) {
  .sm-card-1 {
      padding-left: .2rem !important;
      padding-right: .2rem !important;
  }
  .sm-card-2 {
      padding-left: .2rem !important;
      padding-right: .2rem !important;
  }
  .sm-card-title-2 {
      font-size: .8rem !important;
      padding-left: .35rem !important;
  }
  .sm-card-3 {
      padding-left: .2rem !important;
      padding-right: .2rem !important;
  }
  .sm-card-title-3 {
      font-size: .8rem !important;
      padding-left: .35rem !important;
  }
  .sm-card-4 {
      padding-left: .2rem !important;
      padding-right: .2rem !important;
  }
  .sm-card-title-4 {
      font-size: .8rem !important;
      padding-left: .35rem !important;
  }
  .fas{
    font-size: 1.3rem;
  }
.big-card-2 {
height: 260px !important;
}
  .itemCreated-a {
      padding-left: 2.1rem !important;
      padding-right: 0rem !important;
  }
  .rate-selected {
      padding-left: 2.1rem !important;
      padding-right: 0rem !important;
  }
  .itemCreated-1 {
      padding-left: 2rem !important;
      padding-right: 0rem !important;
  }
  .itemCreated-2 {
      padding-left: .9rem !important;
      padding-right: 0rem !important;
  }
  .itemCreated-3 {
      padding-left: .9rem !important;
      padding-right: 0rem !important;
  }
  .itemCreated-4 {
      padding-left: 1rem !important;
      padding-right: 0rem !important;
  }
  .itemCreated-5 {
      padding-left: .5rem !important;
      padding-right: 0rem !important;
  }
  .itemCreated-6 {
      padding-left: 1.3rem !important;
      padding-right: 0rem !important;
  }
  .itemCreated-7 {
      padding-left: 1.2rem !important;
      padding-right: 0rem !important;
  }
}


@media (min-width: 568px) {
.big-card-2 {
height: 280px !important;
}
}


@media (min-width: 640px) {
  .sm-card-1 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-2 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-title-2 {
      font-size: .9rem !important;
      padding-left: .5rem !important;
  }
  .sm-card-3 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-title-3 {
      font-size: .9rem !important;
      padding-left: .5rem !important;
  }
  .sm-card-4 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-title-4 {
      font-size: .9rem !important;
      padding-left: .5rem !important;
  }
  .fas{
    font-size: 1.4rem;
  }
}


@media (min-width: 768px) {
  .container {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
  .sm-card-1 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-2 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-title-2 {
      font-size: .9rem !important;
      padding-left: .5rem !important;
  }
  .sm-card-3 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-title-3 {
      font-size: .9rem !important;
      padding-left: .5rem !important;
  }
  .sm-card-4 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-title-4 {
      font-size: .9rem !important;
      padding-left: .5rem !important;
  }
  .fas{
    font-size: 1.4rem;
  }
  .big-card-2 {
      height: 330px !important;
  }
  .itemCreated-a {
      padding-left: 4.6rem !important;
  }
  .rate-selected {
      padding-left: 4.6rem !important;
  }
  .itemCreated-1 {
      padding-left: 2.8rem !important;
  }
  .itemCreated-2 {
      padding-left: 3rem !important;
  }
  .itemCreated-3 {
      padding-left: 3.2rem !important;
  }
  .itemCreated-4 {
      padding-left: 3.2rem !important;
  }
  .itemCreated-5 {
      padding-left: 1.1rem !important;
  }
  .itemCreated-6 {
      padding-left: 3.6rem !important;
  }
  .itemCreated-7 {
      padding-left: 2.8rem !important;
  }
}

@media (min-width: 812px) {
  .container {
      margin-left: auto !important;
      margin-right: auto !important;
  }
}

@media (min-width: 1024px) {
  .container {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
  .sm-card-1 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-2 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-title-2 {
      font-size: .9rem !important;
      padding-left: .5rem !important;
  }
  .sm-card-3 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-title-3 {
      font-size: .9rem !important;
      padding-left: .5rem !important;
  }
  .sm-card-4 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-title-4 {
      font-size: .9rem !important;
      padding-left: .5rem !important;
  }
  .fas{
    font-size: 1.4rem;
  }
  .big-card-2 {
      height: 450px !important;
  }
  .itemCreated-a {
      padding-left: 4.6rem !important;
  }
  .rate-selected {
      padding-left: 4.6rem !important;
  }
  .itemCreated-1 {
      padding-left: 2.8rem !important;
  }
  .itemCreated-2 {
      padding-left: 3rem !important;
  }
  .itemCreated-3 {
      padding-left: 3.2rem !important;
  }
  .itemCreated-4 {
      padding-left: 3.2rem !important;
  }
  .itemCreated-5 {
      padding-left: 1.1rem !important;
  }
  .itemCreated-6 {
      padding-left: 3.6rem !important;
  }
  .itemCreated-7 {
      padding-left: 2.8rem !important;
  }
}

@media (min-width:1100px) {
}

@media (min-width:1280px) {
  .global-container{
    max-width: 1100px !important;
    min-width: 1050px !important;
  }
    .thunder-col-1 {
      margin-bottom: 0px !important;
  }
  .thunder-col-2 {
      margin-bottom: 0px !important;
  }
  .thunder-col-3 {
      margin-bottom: 0px !important;
  }
  .thunder-col-4 {
      margin-bottom: 0px !important;
  }
  .sm-card-1 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-2 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-title-2 {
      font-size: .9rem !important;
      padding-left: .5rem !important;
  }
  .sm-card-3 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-title-3 {
      font-size: .9rem !important;
      padding-left: .5rem !important;
  }
  .sm-card-4 {
      padding-left: .3rem !important;
      padding-right: .3rem !important;
  }
  .sm-card-title-4 {
      font-size: .9rem !important;
      padding-left: .5rem !important;
  }
  .fas{
    font-size: 1.4rem;
  }
  .big-card-1 {
      height: 280px !important;
  }
  .big-card-1b {
      height: 210px !important;
  }
  .big-card-2 {
      height: 280px !important;
  }
  .big-card-3 {
      height: 240px !important;
  }
  .big-card-4 {
      height: 240px !important;
  }

  .itemCreated-a {
      padding-left: 2.8rem !important;
  }
  .rate-selected {
      padding-left: 2.8rem !important;
  }
  .itemCreated-1 {
      padding-left: 0rem !important;
  }
  .itemCreated-2 {
      padding-left: 0rem !important;
  }
  .itemCreated-3 {
      padding-left: 0rem !important;
  }
  .itemCreated-4 {
      padding-left: 0rem !important;
  }
  .itemCreated-5 {
      padding-left: 0rem !important;
  }
  .itemCreated-6 {
      padding-left: 0rem !important;
  }
  .itemCreated-7 {
      padding-left: 0rem !important;
  }
}

@media (min-width:1320px) {
}
