<div
  class="container-fluid d-flex flex-row justify-content-center mb-0 mt-1 pt-1 pb-0 shadow-lg col-xs-12 col-lg-10"
>
  <div class="jumbotron-fluid mb-0 pb-0">
    <div class="container mt-0 mb-2 mx-0 shadow-lg">
      <div class="row">
        <div class="col-12">
          <h2
            class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
          >
            Taxi Client Info
          </h2>
        </div>
      </div>
    </div>
    <div class="card-body mt-1 pt-4 mb-0 mb-md-3 pb-0 pb-md-1 shadow-lg">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12 col-md-6">
      <div class="form-group text-primary">
          <label
            for="clientName"
            [ngClass]="fval.clientName.valid ? 'text-info' : ''"
            ><i *ngIf="fval.clientName.valid" class="material-icons"
              >check_circle</i
            >Client Name</label
          >
          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                  class="fas fa-user-alt text-primary mx-auto"
                  style="size: 50px"
                >
                </i>
              </div>
            </div>
            <select
              formControlName="clientName"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.clientName.touched || fval.clientName.dirty) &&
                  fval.clientName.errors
              }"
              autocomplete="off"
              placeholder="Select Client name"
            >
              <option>James Kibuuka</option>
              <option>Charles Kibuuka</option>
              <option>Allan Kibuuka</option>
              <option>Gordon Kibuuka</option>
            </select>
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.clientName.touched || fval.clientName.dirty) &&
              fval.clientName.errors?.required
            "
          >
            The client name is required!
          </div>
        </div>
      </div>
    </div>
    <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="taxiCustomerNumberPlate"
                [ngClass]="
                  fval.taxiCustomerNumberPlate.valid ? 'text-info' : ''
                "
                >Number Plate<i
                  *ngIf="fval.taxiCustomerNumberPlate.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-motorcycle text-primary mx-auto"
                      style="size: 50px"
                    >
                    </i>
                  </div>
                </div>
                <input
                  type="text"
                  formControlName="taxiCustomerNumberPlate"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.taxiCustomerNumberPlate.touched ||
                        fval.taxiCustomerNumberPlate.dirty) &&
                      fval.taxiCustomerNumberPlate.errors
                  }"
                  autocomplete="off"
                  placeholder="Enter Taxi number plate"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.taxiCustomerNumberPlate.touched ||
                    fval.taxiCustomerNumberPlate.dirty) &&
                  fval.taxiCustomerNumberPlate.errors?.required
                "
              >
                The Taxi number plate is required!
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="taxiCustomerColour"
                [ngClass]="
                  fval.taxiCustomerColour.valid ? 'text-info' : ''
                "
                >Taxi color<i
                  *ngIf="fval.taxiCustomerColour.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <input
                  type="text"
                  formControlName="taxiCustomerColour"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.taxiCustomerColour.touched ||
                        fval.taxiCustomerColour.dirty) &&
                      fval.taxiCustomerColour.errors
                  }"
                  autocomplete="off"
                  placeholder="Enter taxi's color"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.taxiCustomerColour.touched ||
                    fval.taxiCustomerColour.dirty) &&
                  fval.taxiCustomerColour.errors?.required
                "
              >
                The taxi color is required!
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="taxiCustomerModel"
                [ngClass]="
                  fval.taxiCustomerModel.valid ? 'text-info' : ''
                "
                >Model<i
                  *ngIf="fval.taxiCustomerModel.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <input
                  type="text"
                  formControlName="taxiCustomerModel"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.taxiCustomerModel.touched ||
                        fval.taxiCustomerModel.dirty) &&
                      fval.taxiCustomerModel.errors
                  }"
                  autocomplete="off"
                  placeholder="Enter model of taxi"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.taxiCustomerModel.touched ||
                    fval.taxiCustomerModel.dirty) &&
                  fval.taxiCustomerModel.errors?.required
                "
              >
                The taxi model is required!
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="taxiCustomerYearOfManufacture"
                [ngClass]="
                  fval.taxiCustomerYearOfManufacture.valid ? 'text-info' : ''
                "
                >Year of Manufacture<i
                  *ngIf="fval.taxiCustomerYearOfManufacture.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <input
                  type="text"
                  formControlName="taxiCustomerYearOfManufacture"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.taxiCustomerYearOfManufacture.touched ||
                        fval.taxiCustomerYearOfManufacture.dirty) &&
                      fval.taxiCustomerYearOfManufacture.errors
                  }"
                  autocomplete="off"
                  placeholder="Enter Year of Manufacture"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.taxiCustomerYearOfManufacture.touched ||
                    fval.taxiCustomerYearOfManufacture.dirty) &&
                  fval.taxiCustomerYearOfManufacture.errors?.required
                "
              >
                The Year of Manufacture is required!
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="taxiCustomerEngineNumber"
                [ngClass]="
                  fval.taxiCustomerEngineNumber.valid
                    ? 'text-info'
                    : ''
                "
                >Engine number<i
                  *ngIf="fval.taxiCustomerEngineNumber.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <input
                  type="text"
                  formControlName="taxiCustomerEngineNumber"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.taxiCustomerEngineNumber.touched ||
                        fval.taxiCustomerEngineNumber.dirty) &&
                      fval.taxiCustomerEngineNumber.errors
                  }"
                  autocomplete="off"
                  placeholder="Enter taxi engine number"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.taxiCustomerEngineNumber.touched ||
                    fval.taxiCustomerEngineNumber.dirty) &&
                  fval.taxiCustomerEngineNumber.errors?.required
                "
              >
                The taxi engine number is required!
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="taxiCustomerFrontPhotoUrl"
                [ngClass]="fval.taxiCustomerFrontPhotoUrl.valid ? 'text-info' : ''"
                >Front Image<i
                  *ngIf="fval.taxiCustomerFrontPhotoUrl.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-image text-primary mx-auto"
                      style="size: 50px"
                    ></i>
                  </div>
                </div>
                <input
                  id="taxiCustomerFrontPhotoUrl"
                  formControlName="taxiCustomerFrontPhotoUrl"
                  type="file"
                  src="image/*"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.taxiCustomerFrontPhotoUrl.touched ||
                        fval.taxiCustomerFrontPhotoUrl.dirty) &&
                      fval.taxiCustomerFrontPhotoUrl.errors
                  }"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.taxiCustomerFrontPhotoUrl.touched || fval.taxiCustomerFrontPhotoUrl.dirty) &&
                  fval.taxiCustomerFrontPhotoUrl.errors?.required
                "
              >
                Please upload a front image of taxi!
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="taxiCustomerRearPhotoUrl"
                [ngClass]="fval.taxiCustomerRearPhotoUrl.valid ? 'text-info' : ''"
                >Rear Image<i
                  *ngIf="fval.taxiCustomerRearPhotoUrl.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-image text-primary mx-auto"
                      style="size: 50px"
                    ></i>
                  </div>
                </div>
                <input
                  id="taxiCustomerRearPhotoUrl"
                  formControlName="taxiCustomerRearPhotoUrl"
                  type="file"
                  src="image/*"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.taxiCustomerRearPhotoUrl.touched ||
                        fval.taxiCustomerRearPhotoUrl.dirty) &&
                      fval.taxiCustomerRearPhotoUrl.errors
                  }"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.taxiCustomerRearPhotoUrl.touched || fval.taxiCustomerRearPhotoUrl.dirty) &&
                  fval.taxiCustomerRearPhotoUrl.errors?.required
                "
              >
              Please upload a rear image of taxi!
            </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group text-primary">
              <label
                for="taxiCustomerTheBodabodaRearPhotoUrl"
                [ngClass]="fval.taxiCustomerTheBodabodaRearPhotoUrl.valid ? 'text-info' : ''"
                >Taxi Rear Image<i
                  *ngIf="fval.taxiCustomerTheBodabodaRearPhotoUrl.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-image text-primary mx-auto"
                      style="size: 50px"
                    ></i>
                  </div>
                </div>
                <input
                  id="taxiCustomerTheBodabodaRearPhotoUrl"
                  formControlName="taxiCustomerTheBodabodaRearPhotoUrl"
                  type="file"
                  src="image/*"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.taxiCustomerTheBodabodaRearPhotoUrl.touched ||
                        fval.taxiCustomerTheBodabodaRearPhotoUrl.dirty) &&
                      fval.taxiCustomerTheBodabodaRearPhotoUrl.errors
                  }"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.taxiCustomerTheBodabodaRearPhotoUrl.touched || fval.taxiCustomerTheBodabodaRearPhotoUrl.dirty) &&
                  fval.taxiCustomerTheBodabodaRearPhotoUrl.errors?.required
                "
              >
              Please upload a rear image of taxi!
              </div>
            </div>
          </div>
        </div>
        <div class="mt-2 mb-3 pt-0 pb-3 mx-auto">
          <button
            type="submit"
            class="btn btn-info col-5 col-md-4 pull-left"
            routerLink="/stationofficer/enroll/enrollclient/bodaloanclient"
          >
            Back
          </button>

          <!-- <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
            <p class="text-light">Please wait...</p>
          </ngx-spinner> -->

          <label class="col" *ngIf="errored" class="text-danger">
            <i class="material-icons">Cancel</i>

            <!-- <ngx-alerts></ngx-alerts> -->
          </label>

          <label class="col" *ngIf="posted" class="text-info">
            <i class="material-icons">check_circle</i>
            <!-- <ngx-alerts></ngx-alerts> -->
          </label>
        </div>
      </form>
    </div>
    <div class="d-flex mt-3 mb-2 mb-xl-0 pt-0 pb-2 pb-xl-0 mx-auto">
      <button
        type="submit"
        class="btn btn-info col-5 col-md-3 mx-auto"
        [disabled]="!userForm.valid"
      >
        Save
      </button>

      <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
        <p class="text-light">Please wait...</p>
      </ngx-spinner>

      <label class="col" *ngIf="errored" class="text-danger">
        <i class="material-icons">Cancel</i>

        <!-- <ngx-alerts></ngx-alerts> -->
      </label>

      <label class="col" *ngIf="posted" class="text-info">
        <i class="material-icons">check_circle</i>
        <!-- <ngx-alerts></ngx-alerts> -->
      </label>

      <button
        type="button"
        class="btn btn-info col-5 col-md-3 mx-auto"
        (click)="resetStageNames()"
      >
        Cancel
      </button>
    </div>
</div>
</div>
