<header class="flux-header clearfix" [attr.nav-layout]="navLayout"
  [attr.navbar-type]="toggleStatus ? defaultNavbar : toggleNavbar " [attr.effect-type]="navbarEffect"
  [attr.header-theme]="headerColorTheme" [attr.collapsed-left-header]="collapsedLeftHeader"
  [attr.device-type]="deviceType">

  <div class="flux-header-wrapper clearfix">
    <div class="flux-brand" [attr.left-header-theme]="leftHeaderColorTheme">
      <span class="flux-brand-logo"><img src="../../../../assets/img/mafuta-lgo-1b.svg"  height="40" width="35"></span>
      <span class="flux-brand-text">EDAD TOKEN BOX</span>
    </div>
    <div class="flux-header-navbar">
      <div class="flux-left-header clearfix">
        <div class="sidebarToggle" (click)="changeTheToggleStatus()"><i class="fas fa-bars"></i></div>
      </div>
    <span class="text-primob align-self-baseline mb-0 pl-3 pb-0">SMART AGENT</span>
      <div class="flux-right-header clearfix">
        <ul>
          <!-- <li><a class="dropdown-toggle"><i class="fas fa-cog"></i> <span *ngIf="deviceType !== 'mobile'" >&nbsp;System Settings</span> </a></li> -->
          <li><a href=""><i class="fas fa-power-off"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

