.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.card-body {
  width: 100%;
  height: 100%;
}


.big-card-1 {
height: 65px !important;
margin-bottom: 0px !important;
contain: auto;
}
.big-card-body-1 {
height: 100% !important;
margin-bottom: 0px !important;
}
.big-card-1:hover {
  border-color: #17aae0ee !important
}

.text-danger{
  color: #17aae0ee !important
}

.text-gray {
  color: #f7f5f5;
}

.sm-card-1 {
  background-image: linear-gradient(to bottom right, rgb(168, 18, 106, 1), rgba(189, 192, 194, 0.7));
  border: 0rem;
}

.sm-card-2 {
  background-image: linear-gradient(to bottom right, rgba(19, 153, 206, 0.97), rgba(189, 192, 194, 0.7));
  border: 0rem;
}

.sm-card-3 {
  background-image: linear-gradient(to bottom right, rgb(168, 18, 106, 1), rgba(189, 192, 194, 0.7));
  border: 0rem;
}

.sm-card-4 {
  background-image: linear-gradient(to bottom right, rgba(19, 153, 206, 0.97), rgba(189, 192, 194, 0.7));
  border: 0rem;
}



//media queries
@media (min-width:360px) {
  .thunder-col-1 {
      margin-bottom: 5px !important;
  }
  .thunder-col-2 {
      padding-left: 0px !important;
      margin-bottom: 5px !important;
  }
  .thunder-col-3 {
      margin-bottom: 5px !important;
  }
  .thunder-col-4 {
      padding-left: 0px !important;
      margin-bottom: 5px !important;
  }
  .sm-card-1 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .sm-card-title-1 {
      font-size: 11px !important;
      margin-left: 0px !important;
      padding-left: 2px !important;
      padding-right: 0px !important;
  }
  .sm-card-2 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .sm-card-title-2 {
      font-size: 11px !important;
      margin-left: 0px !important;
      padding-left: 2px !important;
      padding-right: 0px !important;
  }
  .sm-card-3 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .sm-card-title-3 {
      font-size: 11px !important;
      margin-left: 0px !important;
      padding-left: 2px !important;
      padding-right: 0px !important;
  }
  .sm-card-4 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .sm-card-title-4 {
      font-size: 11px !important;
      margin-left: 0px !important;
      padding-left: 2px !important;
      padding-right: 0px !important;
  }
  .components {
      margin-top: 8px !important;
  }
.fas{
font-size: 20px;
}
.fa-coins{
font-size: 14px;
}
}

@media (min-width:410px) {
.fa-coins{
font-size: 17px;
}
}

@media (min-width:440px) {
}

@media (min-width:568px) {
}

@media (min-width:640px) {
    .big-card-1 {
      height: 80px !important;
  }
}

@media (min-width: 768px) {
  .container {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
  .big-card-1 {
      height: 90px !important;
  }
}

@media (min-width: 812px) {
  .container {
      margin-left: auto !important;
      margin-right: auto !important;
  }
}

@media (min-width: 1024px) {
  .jumbotron-fluid{
      margin-bottom: 9rem !important;
  }
  .container {
      margin-left: 0px !important;
      margin-right: 0px !important;
  }
}

@media (min-width:1100px) {
  .thunder-col-1 {
      margin-bottom: 0px !important;
  }
  .thunder-col-2 {
      margin-bottom: 0px !important;
  }
  .thunder-col-3 {
      margin-bottom: 0px !important;
  }
  .thunder-col-4 {
      margin-bottom: 0px !important;
  }
  .big-card-1 {
      height: 85px !important;
      padding-bottom: 0px !important;
  }
}

@media (min-width:1280px) {
.global-container{
    max-width: 1100px !important;
    min-width: 1050px !important;
  }

  .jumbotron-fluid{
      margin-bottom: 2rem !important;
  }
  .sm-card-1 {
      padding-left: 8px !important;
      padding-right: 3px !important;
  }
  .sm-card-title-1 {
      font-size: 14px !important;
      margin-left: 0px !important;
      padding-left: 0px !important;
      padding-right: 3px !important;
  }
  .sm-card-2 {
      padding-left: 8px !important;
      padding-right: 3px !important;
  }
  .sm-card-title-2 {
      font-size: 14px !important;
      margin-left: 0px !important;
      padding-left: 0px !important;
      padding-right: 3px !important;
  }
  .sm-card-3 {
      padding-left: 8px !important;
      padding-right: 3px !important;
  }
  .sm-card-title-3 {
      font-size: 14px !important;
      margin-left: 0px !important;
      padding-left: 0px !important;
      padding-right: 3px !important;
  }
  .sm-card-4 {
      padding-left: 8px !important;
      padding-right: 3px !important;
  }
  .sm-card-title-4 {
      font-size: 14px !important;
      margin-left: 0px !important;
      padding-left: 0px !important;
      padding-right: 3px !important;
  }
  .components {
      margin-top: 10px !important;
  }
}

@media (min-width:1320px) {
  .container {
      margin-left: auto !important;
      margin-right: auto !important;
  }
}
