<div>
    <header>
        <h2> Set up approval levels</h2>
    </header>
    <div>
        <form action="">
            <div>
                <label for="">Area Managers</label><input type="number" name="" id="">
            </div>
            <div>
                <label for="">Town Managers</label><input type="number" name="" id="">
            </div>
            <div>
                <label for="">Station Managers</label><input type="number" name="" id="">
            </div>
            <div>
                <button type="submit">Save</button>
                <button type="reset">Cancel</button>
            </div>
        </form>
    </div>
</div>