<div>
    <header>
        <h2> Set up approval levels</h2>
    </header>
    <div>
       <table>
           <tr>
               <td>Area C</td>
               <td></td>
           </tr>
           <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
       </table>
    </div>
</div>