.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.invest-card {
  width: 100%;
  height: auto;
    max-width: 490px;
    min-width: 320px;
  border-radius: 8px;
  contain: auto;
  margin-bottom: 1.2rem !important;
}

.iteration {
  height: auto;
  min-height: 150px;
  max-height: 250px;
  overflow-y: auto;
}

.item-container {
  min-height: 2.2rem !important;
}

.list-card {
  height: auto !important;
}
.list-card-body {
  width: 100%;
  height: auto !important;
}

.btn {
  padding: .340rem .35rem;
  font-size: .8rem;
  line-height: 1.0;
  border-radius: 15px;
}

.text-info {
  color: #17aae0ee !important;
}

a.text-info:focus,
a.text-info:hover {
  color: #48bae4f5 !important;
}
.btn-info {
  color: #17aae0ee;
  background-color: transparent;
  border-color: #17aae0ee;
}
.btn-info:hover,
.btn-info:focus {
  color: #d9dbdd;
  background-color: #17aae0ee;
  border-color: #17aae0ee;
}
.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 0.2rem #0e99ccee;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #1b9eceec;
  background-color: transparent;
  border-color: #1b9eceec;
}
.btn-infob {
  color: #7d8388;
  background-color: transparent;
  border-color: transparent;
}
.btn-infob:hover,
.btn-infob:focus {
  color: #17aae0ee;
  background-color: transparent;
  border-color: transparent;
}
.btn-infob.focus,
.btn-infob:focus {
  box-shadow: 0 0 0 0.2rem transparent;
}
.btn-infob.disabled,
.btn-infob:disabled {
  color: #89898a;
  background-color: transparent;
  border-color: transparent;
}

.pointerCursor {
  cursor: pointer;
}



//media queries
@media (min-width: 320px) {
  .card-body {
    padding-top: 4px;
    margin-bottom: 1rem !important;
  }
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

@media (min-width: 360px) {
  .card-body {
    padding-top: 4px;
  }
}

@media (min-width: 375px) {
  .jumbotron-fluid {
    padding-bottom: 1.0rem !important;
  }
}

@media (min-width: 410px) {
  .jumbotron-fluid {
    padding-bottom: 0.5rem !important;
  }
}

@media (min-width: 445px) {
  .card-body {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 568px) {
}

@media (min-width: 640px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 768px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .invest-card {
    max-width: 600px !important;
    min-height: 300px !important;
    max-height: 800px !important;
    padding-top: 10px !important;
    margin-top: 8px !important;
  }
.iteration {
  max-height: 550px;
}
  .list-card-body {
    padding-top: .0rem !important;
    margin-bottom: .0rem !important;
  }
  .jumbotron-fluid {
    padding-top: .65rem !important;
    padding-bottom: 1.8rem !important;
  }
}

@media (min-width: 812px) {
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
  }
}

@media (min-width: 1024px) {
  .jumbotron-fluid {
    padding-top: .65rem !important;
    padding-bottom: 2.5rem !important;
  }
  .invest-card {
    max-width: 600px !important;
    max-height: 950px !important;
    padding-top: .65rem !important;
    margin-top: .5rem !important;
  }
.iteration {
  max-height: 760px;
}
}

@media (min-width: 1100px) {
}

@media (min-width: 1280px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .jumbotron-fluid {
    padding-bottom: .8rem !important;
  }
  .invest-card {
    max-width: 600px !important;
    max-height: 360px !important;
    padding-top: .4rem !important;
    margin-top: .5rem !important;
  }
.iteration {
  max-height: 240px;
}
}

@media (min-width: 1320px) {
}
