.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.btn {
  padding: .340rem 0rem;
  font-size: .8rem;
  line-height: 1.0;
  border-radius: 15px;
}

.text-info {
  color: #17aae0ee !important;
}

a.text-info:focus,
a.text-info:hover {
  color: #48bae4f5 !important;
}
.btn-info {
  color: #17aae0ee;
  background-color: transparent;
  border-color: #17aae0ee;
}
.btn-info:hover,
.btn-info:focus {
  color: #d9dbdd;
  background-color: #17aae0ee;
  border-color: #17aae0ee;
}
.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 0.2rem #0e99ccee;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #1b9eceec;
  background-color: transparent;
  border-color: #1b9eceec;
}
.btn-infob {
  color: #7d8388;
  background-color: transparent;
  border-color: transparent;
}
.btn-infob:hover,
.btn-infob:focus {
  color: #17aae0ee;
  background-color: transparent;
  border-color: transparent;
}
.btn-infob.focus,
.btn-infob:focus {
  box-shadow: 0 0 0 0.2rem transparent;
}
.btn-infob.disabled,
.btn-infob:disabled {
  color: #89898a;
  background-color: transparent;
  border-color: transparent;
}

.pointerCursor {
  cursor: pointer;
}



//media queries
@media (min-width: 320px) {
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

@media (min-width: 360px) {
}

@media (min-width: 375px) {
}

@media (min-width: 410px) {
}

@media (min-width: 445px) {
}

@media (min-width: 568px) {
}

@media (min-width: 640px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 768px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .jumbotron-fluid {
    padding-top: .65rem !important;
    padding-bottom: .65rem !important;
  }
}

@media (min-width: 812px) {
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
  }
}

@media (min-width: 1024px) {
  .jumbotron-fluid {
    padding-top: .65rem !important;
    padding-bottom: 1.2rem !important;
  }
}

@media (min-width: 1100px) {
}

@media (min-width: 1280px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .jumbotron-fluid {
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: .65rem !important;
  }
}

@media (min-width: 1320px) {
}
