<div>
    <div>
        <h4> Change Password</h4>
    </div>
    <div>
        <form action="">
            <div>
                <label for="">Phone Number</label><input type="text">
            </div>
            <div>
                <label for="">PIN</label><input type="text">
            </div>
            <div>
                <label for="">Confirm PIN</label><input type="text">
            </div>
            <div>
                <button type="submit">Save</button>
                <button type="reset">Cancel</button>
            </div>
        </form>
    </div>
</div>